/*
 * 模块：重置-低版本兼容
 * 模块类型：b(基础模块)
 * 注册组件编号: 00-0001 （查询下载：http:www.xui.biz）
 * 精度：*
 * 分级：*
 * 适配：
 * 兼容：
 * 版本：v0.0.1
 *
 */

[xui] * { -webkit-touch-callout : none; -webkit-tap-highlight-color : rgba(0, 0, 0, 0); }

[xui] *,
[xui] :after,
[xui] :before { border : 0; -webkit-box-sizing : border-box; -moz-box-sizing : border-box; box-sizing : border-box; }

html[xui],
[xui] body {width: 100%; height : 100%; }

[xui] body,
[xui] dl,
[xui] dd,
[xui] h1,
[xui] h2,
[xui] h3,
[xui] h4,
[xui] h5,
[xui] h6,
[xui] p{ margin : 0; }
[xui] button,
[xui] input,
[xui] ol,
[xui] ul { margin : 0; padding : 0; }

[xui] body {
  font-family             : -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
  position                : relative;
  line-height             : 1.5;
}

[xui] button,
[xui] input,
[xui] select,
[xui] textarea { outline : none; }

[xui] input,
[xui] button { -webkit-appearance : none; }

[xui] input:-webkit-autofill { -webkit-box-shadow : 0 0 0 1000px white inset; }

[xui] input,
[xui] button,
[xui] textarea,
[xui] select,
[xui] optgroup,
[xui] option,
[xui] label,
[xui] fieldset,
[xui] legend { font-family : inherit; font-style : inherit; font-weight : inherit; font-size : 1em; color : inherit; line-height : inherit; }

[xui] h1,
[xui] h2,
[xui] h3,
[xui] h4,
[xui] h5,
[xui] h6,
[xui] strong { font-weight : normal; }

[xui] table { border-collapse : collapse; border-spacing : 0; }

[xui] address,
[xui] cite,
[xui] dfn,
[xui] em,
[xui] var { font-style : normal; }

[xui] a { text-decoration : none; color : inherit; display : inline-block; cursor: pointer;}

[xui] ul,
[xui] ol { list-style : none; }
