//字号
$sz: 14px;

//主体
$main                       : #ffffff;
//辅助
$vice                       : #ffffff;

//阅读
$read                       : #ffffff;
//远景
$back                       : #ffffff;

//普通
$default                    : #ffffff;
//信息
$info                       : #ffffff;
//成功
$success                    : #ffffff;
//警告
$warning                    : #ffffff;
//危险
$danger                     : #ffffff;









/*主题*/
$co-main:           #666;
$co-main-hover:     #999;
$co-main-active:    #333;

$bg-main:           rgba(5,10,15,.95);
$bg-main-hover:     #444;
$bg-main-active:    #222;
$bg-main-hint:      #f4fbff;

$bk-main:           #ddd;
$bk-main-hover:     #eee;
$bk-main-active:    #d5d5d5;
$bk-main-hint:      #87d6ff;
/*辅助*/
$co-vice:           #7fc121;
$co-vice-hover:     #8cd224;
$co-vice-active:    #699b19;

$bg-vice:           #7fc121;
$bg-vice-hover:     #8cd224;
$bg-vice-active:    #699b19;

$bk-vice:           #7fc121;
$bk-vice-hover:     #8cd224;
$bk-vice-active:    #699b19;

/*辅助*/
$co-less:           #bea3eb;
$co-less-hover:     #d3b8f5;
$co-less-active:    #ad94de;

$bg-less:           #bea3eb;
$bg-less-hover:     #d3b8f5;
$bg-less-active:    #ad94de;
$bg-less-hint:      #f8f5fd;

$bk-less:           #b395e7;
$bk-less-hover:     #c8a9f3;
$bk-less-active:    #a387d9;
$bk-less-hint:      #d3b8f5;

/*阅读(默认)*/
$co-read:           #666;
$co-read-hover:     #888888;
$co-read-active:    #444444;

$bg-read:           #f5f5f5;
$bg-read-hover:     #fbfbfb;
$bg-read-active:    #f0f0f0;

$bk-read:           #dfdfdf;
$bk-read-hover:     #e5e5e5;
$bk-read-active:    #c0c0c0;
/*辅助阅读*/
$co-back:           #999999;
$co-back-hover:     #c3c3c3;
$co-back-active:    #a2a2a2;

$bg-back:           #f9f9f9;
$bg-back-hover:     #fcfcfc;
$bg-back-active:    #efefef;

$bk-back:           #e8e8e8;
$bk-back-hover:     #eee;
$bk-back-active:    #e0e0e0;
/*信息*/
$co-info:           #3e7bbd;
$co-info-hover:     #4588d1;
$co-info-active:    #3870ac;

$bg-info:           #3e7bbd;
$bg-info-hover:     #4588d1;
$bg-info-active:    #3870ac;
$bg-info-hint:      #f8f5fd;

$bk-info:           #3e7bbd;
$bk-info-hover:     #4588d1;
$bk-info-active:    #3870ac;
$bk-info-hint:      #4588d1;
/*成功*/
$co-success:        #65c22d;
$co-success-hover:  #86d359;
$co-success-active: #56a525;

$bg-success:        #65c22d;
$bg-success-hover:  #86d359;
$bg-success-active: #56a525;
$bg-success-hint:   #f7fcf3;

$bk-success:        #71c323;
$bk-success-hover:  #80CD59;
$bk-success-active: #4E9C25;
$bk-success-hint:   #a1d97c;
/*提醒/警告*/
$co-warn:           #ffa81b;
$co-warn-hover:     #ffb822;
$co-warn-active:    #ff9715;

$bg-warn:           #ffba46;
$bg-warn-hover:     #ffca54;
$bg-warn-active:    #ff9815;
$bg-warn-hint:      #ffffe1;

$bk-warn:           #ffa929;
$bk-warn-hover:     #ffb822;
$bk-warn-active:    #ff9927;
$bk-warn-hint:      #ffc061;
/*错误/强调*/
$co-danger:          #ff796f;
$co-danger-hover:    #ff887e;
$co-danger-active:   #ff685e;

$bg-danger:          #ff8176;
$bg-danger-hover:    #ff9286;
$bg-danger-active:   #ff7268;
$bg-danger-hint:     #fff8f8;

$bk-danger:          #ff897f;
$bk-danger-hover:    #ff887e;
$bk-danger-active:   #ff685e;
$bk-danger-hint:     #ffa9a9;
/*黑色*/
$co-black:          #000000;
$co-black-hover:    #000000;
$co-black-active:   #000000;

$bg-black:          #000000;
$bg-black-hover:    #000000;
$bg-black-active:   #000000;

$bk-black:          #000000;
$bk-black-hover:    #000000;
$bk-black-active:   #000000;
/*白色*/
$co-white:          #ffffff;
$co-white-hover:    #ffffff;
$co-white-active:   #ffffff;

$bg-white:          #ffffff;
$bg-white-hover:    #ffffff;
$bg-white-active:   #ffffff;

$bk-white:          #ffffff;
$bk-white-hover:    #ffffff;
$bk-white-active:   #ffffff;

