//主体
$co-main                           : #ff5858;
$co-main-hover                     : #ff7878;
$co-main-active                    : #ff3838;

$bg-main                           : #ff5858;
$bg-main-hover                     : #ff7878;
$bg-main-active                    : #ff3838;

$bc-main                           : #ff5858;
$bc-main-hover                     : #ff7878;
$bc-main-active                    : #ff3838;

//辅助
$co-vice                           : #6fc125;
$co-vice-hover                     : #8cd224;
$co-vice-active                    : #699b19;

$bg-vice                           : #6FC125;
$bg-vice-hover                     : #8cd224;
$bg-vice-active                    : #699b19;

$bc-vice                           : #6FC125;
$bc-vice-hover                     : #8cd224;
$bc-vice-active                    : #699b19;

//阅读(默认)
$co-read                           : #333333;
$co-read-hover                     : #666666;
$co-read-active                    : #252525;

$bg-read                           : #fafafa;
$bg-read-hover                     : #fbfbfb;
$bg-read-active                    : #f0f0f0;

$bc-read                           : #b5b5b5;
$bc-read-hover                     : #cccccc;
$bc-read-active                    : #999999;

//远景
$co-back                           : #999999;
$co-back-hover                     : #c3c3c3;
$co-back-active                    : #a2a2a2;

$bg-back                           : #f9f9f9;
$bg-back-hover                     : #fcfcfc;
$bg-back-active                    : #efefef;

$bc-back                           : #e8e8e8;
$bc-back-hover                     : #eee;
$bc-back-active                    : #e0e0e0;

//信息
$co-info                           : #468dd7;
$co-info-hover                     : #4a9deb;
$co-info-active                    : #3986c3;

$bg-info                           : #2ea8e5;
$bg-info-hover                     : #2eafef;
$bg-info-active                    : #2e95d1;
$bg-info-hint                      : #f8f5fd;

$bc-info                           : #1c9dde;
$bc-info-hover                     : #2eb1ef;
$bc-info-active                    : #2c98d1;
$bc-info-hint                      : #52a9ff;

//成功
$co-success                        : #3caf62;
$co-success-hover                  : #40c877;
$co-success-active                 : #35a05c;

$bg-success                        : #3cbd70;
$bg-success-hover                  : #40d281;
$bg-success-active                 : #36aa65;
$bg-success-hint                   : #f7fcf3;

$bc-success                        : #3caf62;
$bc-success-hover                  : #40c877;
$bc-success-active                 : #35a05c;
$bc-success-hint                   : #a1d97c;

//提示
$co-warn                           : #ff9f19;
$co-warn-hover                     : #ffb020;
$co-warn-active                    : #ff8f14;

$bg-warn                           : #ffba46;
$bg-warn-hover                     : #ffca54;
$bg-warn-active                    : #ff9815;
$bg-warn-hint                      : #ffffe1;

$bc-warn                           : #ff9f19;
$bc-warn-hover                     : #ffb020;
$bc-warn-active                    : #ff8f14;
$bc-warn-hint                      : #ffc061;

//警告
$co-error                          : #df655b;
$co-error-hover                    : #ff8176;
$co-error-active                   : #ff5f54;

$bg-error                          : #f9756d;
$bg-error-hover                    : #ff8b7e;
$bg-error-active                   : #ff695f;
$bg-error-hint                     : #fff8f8;

$bc-error                          : #df655b;
$bc-error-hover                    : #ff8176;
$bc-error-active                   : #ff5f54;
$bc-error-hint                     : #ffa4a4;


//顶栏(非必需)
$co-tobar                          : #fff;
$co-tobar-hover                    : #ffffff;
$co-tobar-active                   : #ffffff;

$bg-tobar                          : rgba(15, 15, 35, 0.95);
$bg-tobar-hover                    : #ffffff;
$bg-tobar-active                   : #ffffff;

$bc-tobar                          : #ffffff;
$bc-tobar-hover                    : #ffffff;
$bc-tobar-active                   : #ffffff;

//头部(非必需)
//$co-header                         : #ffffff;
//$co-header-hover                   : #ffffff;
//$co-header-active                  : #ffffff;

//$bg-header                         : #090723;
//$bg-header-hover                   : #ffffff;
//$bg-header-active                  : #ffffff;

//$bc-header                         : #ffffff;
//$bc-header-hover                   : #ffffff;
//$bc-header-active                  : #ffffff;

//底部(非必需)
//$co-footer                         : #ffffff;
//$co-footer-hover                   : #ffffff;
//$co-footer-active                  : #ffffff;

//$bg-footer                         : #ffffff;
//$bg-footer-hover                   : #ffffff;
//$bg-footer-active                  : #ffffff;

//$bc-footer                         : #ffffff;
//$bc-footer-hover                   : #ffffff;
//$bc-footer-active                  : #ffffff;

//底栏(非必需)
$co-fobar                          : #ffffff;
$co-fobar-hover                    : #ffffff;
$co-fobar-active                   : #ffffff;

$bg-fobar                          : #ffffff;
$bg-fobar-hover                    : #ffffff;
$bg-fobar-active                   : #ffffff;

$bc-fobar                          : #ffffff;
$bc-fobar-hover                    : #ffffff;
$bc-fobar-active                   : #ffffff;

//黑色
$black                             : #000000;

//白色
$white                             : #ffffff;
