/*主体*/
/*辅助*/
/*辅助*/
/*阅读(默认)*/
/*辅助阅读*/
/*信息*/
/*成功*/
/*提醒/警告*/
/*错误/强调*/
/*黑色*/
/*白色*/
/*提示框*/
.mc-hint {
  display: inline-block;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  line-height: 2.9em;
  padding: 0 1em;
  position: relative;
  margin-bottom: 7px;
  cursor: pointer;
}
/*下*/
.mc-hint[data-to=bottom]:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: -7px;
  bottom: -14px;
  display: block;
  border: 7px solid transparent;
  border-top-color: #ccc;
}
.mc-hint[data-to=bottom]:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: -7px;
  bottom: -13px;
  display: block;
  border: 7px solid transparent;
  border-top-color: #fff;
}
.mc-hint[data-to=top]:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: -7px;
  top: -14px;
  display: block;
  border: 7px solid transparent;
  border-bottom-color: #ccc;
}
.mc-hint[data-to=top]:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: -7px;
  top: -13px;
  display: block;
  border: 7px solid transparent;
  border-bottom-color: #fff;
}
.mc-hint[data-co="info"] {
  color: #bea3eb;
  background-color: #f8f5fd;
  border-color: #d3b8f5;
}
.mc-hint[data-co="info"]:before {
  border-top-color: #c5a2f2;
}
.mc-hint[data-co="info"]:after {
  border-top-color: #f8f5fd;
}
.mc-hint[data-co="success"] {
  color: #65c22d;
  background-color: #f7fcf3;
  border-color: #a1d97c;
}
.mc-hint[data-co="success"]:before {
  border-top-color: #93d368;
}
.mc-hint[data-co="success"]:after {
  border-top-color: #f7fcf3;
}
.mc-hint[data-co="warn"] {
  color: #ffa81b;
  background-color: #ffffe1;
  border-color: #ffc061;
}
.mc-hint[data-co="warn"]:before {
  border-top-color: #ffb647;
}
.mc-hint[data-co="warn"]:after {
  border-top-color: #ffffe1;
}
.mc-hint[data-co="error"] {
  color: #ff796f;
  background-color: #fff8f8;
  border-color: #ffa9a9;
}
.mc-hint[data-co="error"]:before {
  border-top-color: #ff8f8f;
}
.mc-hint[data-co="error"]:after {
  border-top-color: #fff8f8;
}
