[xui] .com { color: #93a1a1; }
[xui] .lit { color: #195f91; }
[xui] .pun, .opn, .clo { color: #93a1a1; }
[xui] .fun { color: #dc322f; }
[xui] .str, .atv { color: #D14; }
[xui] .kwd, .prettyprint .tag { color: #1e347b; }
[xui] .typ, .atn, .dec, .var { color: teal; }
[xui] .pln { color: #48484c; }

[xui] .prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
[xui] .prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
[xui] ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
  line-height: 1;
}
[xui] ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 0;
  text-shadow: 0 1px 0 #fff;
  list-style-type: decimal;
}