.mc-down-menu {
  display: inline-block;
  line-height: 2.9em;
  padding: 0 1em;
  position: relative;
  margin-bottom: 7px;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0,0,0,.15);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.15);
}
.mc-down-menu[data-co="info"] {
  color: #bea3eb;
  background-color: #f8f5fd;
  border-color: #d3b8f5;
}
.mc-down-menu[data-co="success"] {
  color: #65c22d;
  background-color: #f7fcf3;
  border-color: #a1d97c;
}
.mc-down-menu[data-co="warn"] {
  color: #ffa81b;
  background-color: #ffffe1;
  border-color: #ffc061;
}
.mc-down-menu[data-co="error"] {
  color: #ff796f;
  background-color: #fff8f8;
  border-color: #ffa9a9;
}