//核心
.mc-menu {display:block; text-align:center; position: relative;}
.mc-menu > * {display: inline-block;position:relative;cursor: pointer;padding-left:1.5rem;padding-right:1.5rem;}
//.xui-menu a:before {position: absolute;background-color: transparent;width: 100%;height: 100%;top: 0;left: 0;bottom: 0;right: 0;content: '';}

//.mc-menu>*>*.menu-2{position: absolute;line-height:1.5rem; display: none}
//.xui-menu>*>*.menu-2>*{padding:.5rem 1rem;}
//.xui-menu>*:hover>*:last-child{display: block}

/*
.xui-menu > *:before, .xui-menu > *:after {content:""; position: absolute; bottom:0; left:0; display: block;width:100%;}
.xui-menu > *:before{height:100%; background-color:rgba(255, 255, 255, 0.1); transform: scale(1,0); -webkit-transform: scale(1,0); transition: all .5s; -webkit-transition: all .5s; transform-origin:50% 100%;}
.xui-menu > *:after {height:2px; background-color:rgba($bg-vice,.9); transform: scale(0,1); -webkit-transform: scale(0,1); transition: all .5s; -webkit-transition: all .5s;}
.xui-menu > *:hover:before, .xui-menu > *.active:before {transform: scale(1,1); -webkit-transform: scale(1,1);}
.xui-menu > *:hover:after, .xui-menu > *.active:after {transform: scale(1,1); -webkit-transform: scale(1,1);}

//规格
.mc-s.xui-menu>*{line-height:1.5rem;padding:.5rem}
.mc-m.xui-menu>*{line-height:1.5rem;padding:1rem}
.mc-l.xui-menu>*{line-height:1.5rem;padding:1.5rem}*/
