
[xui] .xui-model { display : inline-block; width : 100%; min-height : 50px; padding : 2em 0; }

[xui] .xui-model:before,
[xui] .xui-model:after { content : " "; display : inline-block; width : 100%; background: $bc-back}

[xui] .xui-model:before { width:30%; height:1.5em; }

[xui] .xui-model:after { width:90%; height:1.5em;}