//核心
.xui-nav-02 {display:inline-block;}
.xui-nav-02 > * {display: inline-block;position:relative;cursor: pointer;padding-left:1rem;padding-right:1rem;transition: all .3s; -webkit-transition: all .3s;}
.xui-nav-aab > *.on {color:$co-main;}
.xui-nav-02 > *:hover{color:$co-main-hover;transform: scale(1.1,1.1); -webkit-transform: scale(1.1,1.1);}
.xui-nav-02 > *:active{color:$co-main-active;transform: scale(.95,.95); -webkit-transform: scale(.95,.95);}
.xui-nav-02 a:before {position: absolute;background-color: transparent;width: 100%;height: 100%;top: 0;left: 0;bottom: 0;right: 0;content:" ";}

//规格
//.xui-s.xui-nav-02>*{line-height:1.5rem;padding:.5rem}
//.xui-m.xui-nav-02>*{line-height:1.5rem;padding:1rem}
//.xui-l.xui-nav-02>*{line-height:1.5rem;padding:1.5rem}