
.xui-line,
.xui-line[co="read"] {
  display    : block;
  width      : 100%;
  height     : 1px;
  overflow   : hidden;
  clear      : both;
  border-top : 1px solid $bc-read;
}

.xui-line[co="back"] { border-top : 1px solid $bc-back; }

.xui-line[co="main"] { border-top : 1px solid $bc-main; }

.xui-line[co="vice"] { border-top : 1px solid $bc-vice; }

.xui-line[co="info"] { border-top : 1px solid $bc-info; }

.xui-line[co="success"] { border-top : 1px solid $bc-success; }

.xui-line[co="warn"] { border-top : 1px solid $bc-warn; }

.xui-line[co="danger"] { border-top : 1px solid $bc-danger; }
