/*
 * 模块：提示框
 * 模块类型：b(基础模块)
 * 精度：9 +
 * 分级：3 +
 * 适配：桌面 | 平析 | 移动
 * 兼容：
 * 版本：v0.0.1
 * 备注：s->Small 小，m->Middle 中，l->Large 大；
 */

.xui-prompt{
  display: inline-block;
  border-radius: 5px;
  background: rgba(0,0,0,.8);
  color:#fff;
  padding:1em;
}