/*
 * 模块：弹出层
 * 模块类型：b(基础模块)
 * 精度：*
 * 分级：*
 * 适配：桌面 | 平析 | 移动
 * 兼容：
 * 版本：v0.0.1
 */

.xui-layer{
  display: inline-table;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 90;
}
.xui-layer>*{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
}

//暗层（默认开启）
.xui-layer .dim,
//暗层开启
.xui-layer[dim="on"] .dim{
  background: rgba(0,0,0,.7);
}
//暗层关闭
.xui-layer[dim="off"] .dim{
  background: rgba(0,0,0,0);
}

//弹出层对齐位置
.xui-layer[pos="tl"]>*{vertical-align: top;text-align: left  }
.xui-layer[pos="tc"]>*{vertical-align: top;text-align: center}
.xui-layer[pos="tr"]>*{vertical-align: top;text-align: right }

.xui-layer[pos="bl"]>*{vertical-align: bottom;text-align: left  }
.xui-layer[pos="bc"]>*{vertical-align: bottom;text-align: center}
.xui-layer[pos="br"]>*{vertical-align: bottom;text-align: right }

.xui-layer[pos="cl"]>*{vertical-align: center;text-align: left  }
.xui-layer[pos="cc"]>*{vertical-align: center;text-align: center}
.xui-layer[pos="cr"]>*{vertical-align: center;text-align: right }