
.xui-table {
  width: 100%;
}
.xui-table tr:hover {
  background: #f9f9f9;
}
.xui-table th {
  border-bottom: 2px solid #e8e8e8;
  line-height: 1.5em;
  padding: 1em 1em;
  text-align: left;
}
.xui-table td {
  border-bottom: 1px solid #e8e8e8;
  line-height: 1.5em;
  padding: 1em 1em;
  cursor: pointer;
}
.xui-table th:first-child,
.xui-table td:first-child {
  padding-left: 0;
}
.xui-table th:last-child,
.xui-table td:last-child {
  padding-right: 0;
}
/*read*/
.xui-table[data-co=read] tr:hover {
  background: #f5f5f5;
}
.xui-table[data-co=read] th {
  border-bottom-color: #dfdfdf;
}
.xui-table[data-co=read] td {
  border-bottom-color: #dfdfdf;
}
.xui-table[data-sz=s] th,
.xui-table[data-sz=s] td {
  line-height: 1.5em;
  padding:.5em 1em;
}
.xui-table[data-sz=m] th,
.xui-table[data-sz=m] td {
  line-height: 1.5em;
  padding:1em 1em;
}
.xui-table[data-sz=l] th,
.xui-table[data-sz=l] td {
  line-height: 1.5em;
  padding:1.5em 1em;
}
