[xui] .xui-input { display : inline-block; width : 100%;line-height: 1.5em; margin : 0; padding : $sz*.5 1em; border : 1px solid $bc-read; border-radius : 1px; }

[xui] .xui-input-user {
  display       : inline-block;
  width         : 100%;
  line-height: 1.5em;
  margin        : 0;
  padding       : $sz*.5 1em $sz*.5 2.5em;
  border        : 1px solid $bc-read;
  border-radius : 1px;
  background: radial-gradient(circle closest-side at 15px 50%,transparent 60%,#fff 60%),linear-gradient(0deg,#fff 2%,#fff 30%,transparent 30%),radial-gradient(circle closest-side at 15px 42%,$bc-read 30%,transparent 30%),radial-gradient(circle closest-side at 15px 76%,$bc-read 100%,transparent 100%);
}
[xui] .xui-input-user:focus {
  border-color        : $bc-main;
  background: radial-gradient(circle closest-side at 15px 50%,transparent 60%,#fff 60%),linear-gradient(0deg,#fff 2%,#fff 30%,transparent 30%),radial-gradient(circle closest-side at 15px 42%,$bc-main 30%,transparent 30%),radial-gradient(circle closest-side at 15px 76%,$bc-main 100%,transparent 100%);
}

[xui] .xui-input-password {
  display       : inline-block;
  width         : 100%;
  line-height: 1.5em;
  margin        : 0;
  padding       : $sz*.5 1em $sz*.5 2.5em;
  border        : 1px solid $bc-read;
  border-radius : 1px;
  background: radial-gradient(circle closest-side at 15px 50%,transparent 60%,#fff 60%),linear-gradient(0deg,#fff 2%,#fff 28%,transparent 28%),radial-gradient(circle closest-side at 15px 42%,$bc-read 30%,transparent 30%),radial-gradient(circle closest-side at 15px 76%,$bc-read 100%,transparent 100%);
}
[xui] .xui-input-password:focus {
  border-color        : $bc-main;
  background: radial-gradient(circle closest-side at 15px 50%,transparent 60%,#fff 60%),linear-gradient(0deg,#fff 2%,#fff 28%,transparent 28%),radial-gradient(circle closest-side at 15px 42%,$bc-main 30%,transparent 30%),radial-gradient(circle closest-side at 15px 76%,$bc-main 100%,transparent 100%);
}