[xui] .xui-btn {display: inline-block;white-space: nowrap;vertical-align: middle;position: relative;border-radius: 2px;text-align: center;padding: .5em 1em;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;border: 1px solid transparent;}
[xui] .xui-btn.xui-s {line-height: 1em;}
[xui] .xui-btn.xui-m {line-height: 1.5em;}
[xui] .xui-btn.xui-l {line-height: 2em;}
[xui] .xui-btn.disabled {
  cursor: not-allowed;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}
/*read*/
[xui] .xui-btn { background: #f5f5f5; transition: all .01s; -webkit-transition: all .01s; }
[xui] .xui-btn:hover { background: #fbfbfb; }
[xui] .xui-btn:active { background: #f0f0f0; transform: translate(0,1px); -webkit-transform: translate(0,1px); }
/*main*/
[xui] .xui-btn[co="main"] { background: $bg-main; }
[xui] .xui-btn[co="main"]:hover { background: $bg-main-hover; }
[xui] .xui-btn[co="main"]:active { background: $bg-main-active; }
/*vice*/
[xui] .xui-btn[co="vice"] {
  background: $bg-vice;
}
[xui] .xui-btn[co="vice"]:hover {
  background: $bg-vice-hover;
}
[xui] .xui-btn[co="vice"]:active {
  background: $bg-vice-active;
}
/*info*/
[xui] .xui-btn[co="info"] {
  background: $bg-info;
}
[xui] .xui-btn[co="info"]:hover {
  background: $bg-info-hover;
}
[xui] .xui-btn[co="info"]:active {
  background: $bg-info-active;
}
/*success*/
[xui] .xui-btn[co="success"] {
  background: $bg-success;
}
[xui] .xui-btn[co="success"]:hover {
  background: $bg-success-hover;
}
[xui] .xui-btn[co="success"]:active {
  background: $bg-success-active;
}
/*warn*/
[xui] .xui-btn[co="warn"] {
  background: $bg-warn;
}
[xui] .xui-btn[co="warn"]:hover {
  background: $bg-warn-hover;
}
[xui] .xui-btn[co="warn"]:active {
  background: $bg-warn-active;
}
/*error*/
[xui] .xui-btn[co="error"] {
  background: $bg-danger;
}
[xui] .xui-btn[co="error"]:hover {
  background: $bg-danger-hover;
}
[xui] .xui-btn[co="error"]:active {
  background: $bg-danger-active;
}
[xui] .xui-btn[co="read"],[xui] .xui-btn[co="main"],[xui] .xui-btn[co="vice"],[xui] .xui-btn[co="info"],[xui] .xui-btn[co="success"],[xui] .xui-btn[co="warn"],[xui] .xui-btn[co="error"] {color: #ffffff}
[xui] .xui-btn {transition: all .1s;-moz-transition: all .1s;-webkit-transition: all .1s;-o-transition: all .1s;}
