[xui] .xui-code { border : 1px solid $bc-back; white-space : normal; background : #fcfcfc; padding-left : 4em; position: relative }
pre.xui-code:after {
  content: "</>";
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 5px;
  font-size: 10px;
  font-weight: bold;
  color: #ccc;
}

[xui] .xui-code > * { display : list-item; border-left : 1px solid #eee; padding : 1em 0; background: #fff;}

[xui] .xui-code > * > * {display: list-item; list-style-type : decimal; padding-left : 1em; color:#bbb; position: relative}
[xui] .xui-code > * > *:after {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  background: #fafafa;
  left: -1.2em;
  bottom: .2em;
}

[xui] .xui-code > * > * > * { color:#1e347b}

.xui-code .name{color:#008080}
.xui-code .val{color:#D14}