@import "../theme/default";

[xui] .xui-title {
  width: 100%;
  line-height: 1.5;
  border-bottom: 1px solid $bc-read;
  padding:0;
  margin-bottom:$sz;
}

[xui] .xui-title[co="back"]{ @extend %bc-back;}