/*
 * 组件：按钮
 * 组件注册编号：02-0002
 * 标准结构1级
 * 属性：
 * sz    规格（默认：m   s | m | l）
 * co    颜色 (默认：read  read | back | main | vice | info | success | warn | error)
 * 示例：
 *  <span class="xui-btn" mc="02-0002"></span> 默认的这样就行了
 *  <div class="xui-btn" mc="02-0002" btn-sz="s"></div> 小号的这样写
 * 关联：html+css
 */

.xui-btn-02{display: inline-block; border:1px solid $bc-read; line-height:2rem; cursor:pointer; padding:0 1rem; border-radius:2px; background: none;}

//颜色
.xui-btn-02[co="main"]{border-color:$bc-main;color:$co-main}
.xui-btn-02[co="back"]{border-color:$bc-back;color:$co-back}
.xui-btn-02[co="vice"]{border-color:$bc-vice;color:$co-vice}
.xui-btn-02[co="info"]{border-color:$bc-info;color:$co-info}
.xui-btn-02[co="success"]{border-color:$bc-success;color:$co-success}
.xui-btn-02[co="warn"]{border-color:$bc-warn;color:$co-warn}
.xui-btn-02[co="error"]{border-color:$bc-danger;color:$co-danger}

//规格
.xui-btn-02[sz="s"]{line-height:1.5rem}
.xui-btn-02[sz="l"]{line-height:2.5rem}