//核心
//.xui-nav-02 {display:inline-block;}
//.xui-nav-02 > * {display: inline-block;position:relative;cursor: pointer;padding-left:1rem;padding-right:1rem;transition: all .3s; -webkit-transition: all .3s;}
//.xui-nav-aab > *.on {color:$co-main;}
//.xui-nav-02 > *:hover{color:$co-main-hover;transform: scale(1.1,1.1); -webkit-transform: scale(1.1,1.1);}
//.xui-nav-02 > *:active{color:$co-main-active;transform: scale(.95,.95); -webkit-transform: scale(.95,.95);}
//.xui-nav-02 a:before {position: absolute;background-color: transparent;width: 100%;height: 100%;top: 0;left: 0;bottom: 0;right: 0;content:" ";}

//水平垂直居中
[xui] .xui-nav-03 { position : relative; min-height : $sz;}

[xui] .xui-nav-03:after { content : " "; width : 0; height : 100%; display : inline-block; vertical-align : middle; }

[xui] .xui-nav-03 > * { display : inline-block; vertical-align: middle; text-align : center; line-height: 1; padding: ($sz * .5) ($sz * 1.5); border-radius: 3px; cursor : pointer; transition: background 0s; -webkit-transition: background 0s; @include user-select;}
[xui] .xui-nav-03 > *:hover {color:$co-read-hover}
[xui] .xui-nav-03 > *:active {color:$co-main-active}
[xui] .xui-nav-03 > *.on {background: $bg-main; color :$white; font-weight: bold; transition: background .5s; -webkit-transition: background .5s;}