//核心
.xui-nav-01 {display:inline-block;position: relative;}
.xui-nav-01 > * {display: inline-block;position:relative;cursor: pointer;padding:0 ($sz * 1.5);transition: all .3s; -webkit-transition: all .3s;}
.xui-nav-01 > *.on {color:$co-main; font-weight: bold;}
.xui-nav-01 > *.on:after {
  content: " ";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: $bc-main;
}
.xui-nav-01 > *:hover {color:$co-main-hover;}
.xui-nav-01 > *:active {color:$co-main-active;}