/*左侧导航*/
[xui] .xui-menu { @include user-select; padding-left : $sz; border-left : 1px solid $bc-back; }

[xui] .xui-menu > li { width : 100%; position : relative; cursor : pointer; line-height : 1; }

[xui] .xui-menu > li em { display : inline-block; width : 100%; position : relative; font-weight : bold; }

[xui] .xui-menu > li.on em,
[xui] .xui-menu > li:hover em { color : $co-main; }

[xui] .xui-menu > li.on em:after,
[xui] .xui-menu > li:hover em:after {
  content     : "";
  display     : inline-block;
  width       : 3px;
  height      : $sz;
  position    : absolute;
  left        : -$sz;
  top         : 0;
  margin-left : -2px;
  background  : $bc-main;
}

[xui] .xui-menu-two { padding : ($sz * .5) 0; }

[xui] .xui-menu-two li {
  display      : inline-block;
  width        : 100%;
  position     : relative;
  padding-left : $sz;
  line-height  : 2;
  font-size    : 13px;
}

[xui] .xui-menu-two li:last-child { border-bottom : none; }

[xui] .xui-menu-two li:hover { color : $bg-main; }

[xui] .xui-menu-two li:before {
  display     : block;
  content     : "";
  width       : 1em;
  height      : 98%;
  position    : absolute;
  left        : 5px;
  top         : 0;
  overflow    : hidden;
  border-left : 1px dotted #eee;
  z-index     : 2;
}

[xui] .xui-menu-two li:after {
  display     : block;
  content     : "";
  width       : 5px;
  height      : 5px;
  background  : #fff;
  position    : absolute;
  left        : 5px;
  top         : 50%;
  margin-top  : -3px;
  margin-left : -2px;
  overflow    : hidden;
  border      : 1px solid $bc-back;
  z-index     : 2;
}

[xui] .xui-menu-two li.on { color : $bg-main; }

[xui] .xui-menu-two li.on:after { border : 1px solid $bg-main; }

[xui] .xui-menu-two li:hover:after { border : 2px solid $bg-main; }
