/*
 * 选项卡组件！
 * 组件注册编号：11-0002
 * 标准结构2级
 * 属性：
 *  data-area    容器（在根容器设置）
 * 示例：
 *  <ul class="mc-tabs" data-mc="11-0001" data-area="#id1">
 *      <li class="on">a</li>
 *      <li>b</li>
 *      <li>c</li>
 *  </ul>
 *
 *  <div id="id1">
 *      <div class="on">a content</div>
 *      <div>b content</div>
 *      <div>c content</div>
 *  </div>
 */

//导航
.mc-tabs[data-mc="11-0002"]{display: block; height:2.5rem; line-height:2.5rem; position:relative; margin-bottom:1px;}
.mc-tabs[data-mc="11-0002"]:after{display: block;content:"";clear:both;}
.mc-tabs[data-mc="11-0002"]>*{display: inline-block; float:left; padding:0 2rem; border:1px solid $bk-back; cursor:pointer; position:relative; margin-right:-1px;}
.mc-tabs[data-mc="11-0002"]>*.on{border-bottom-color:$bk-white; color:$co-vice;}
.mc-tabs[data-mc="11-0002"]>*.on:after{content:""; display:block; position:absolute; width:100%; height:3px; background:$bg-vice; top:-1px; left:-1px;border-left:1px solid transparent;border-right:1px solid transparent; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; z-index:2}

//容器
.mc-tabs-area[data-mc="11-0002"]>*{display:none; line-height:1.5rem; padding:2rem; border:1px solid $bk-back;}
.mc-tabs-area[data-mc="11-0002"]>*.on{display:block;}