/*
 * 选项卡组件！
 * 组件注册编号：11-0001
 * 标准结构2级
 * 属性：
 *  data-area    容器（在根容器设置）
 * 示例：
 *  <ul class="mc-tabs" data-mc="11-0001" data-area="#id1">
 *      <li class="on">a</li>
 *      <li>b</li>
 *      <li>c</li>
 *  </ul>
 *
 *  <div id="id1">
 *      <div class="on">a content</div>
 *      <div>b content</div>
 *      <div>c content</div>
 *  </div>
 */

.mc-tabs[data-mc="11-0001"] {
  display: inline-table;
  table-layout: fixed;
  list-style: none;
  position: relative; /*height: 2.5em;*/
  line-height: 2.5rem;
}

.mc-tabs[data-mc="11-0001"] > * {
  display: table-cell;
  width: 1%;
  height: 100%;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #dfdfdf;
  text-align: center;
  cursor: pointer;
  transition: background 0.2s;
  -moz-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  -o-transition: all 0.2s;
}

.mc-tabs[data-mc="11-0001"] > *.active + *,
.mc-tabs[data-mc="11-0001"] > *:hover + *,
.mc-tabs[data-mc="11-0001"] > *:active + * {
  border-left-color: transparent;
}

.mc-tabs[data-mc="11-0001"] > *:not(:last-child) {
  border-right-color: transparent;
}

.mc-tabs[data-mc="11-0001"] > *:last-child {
  border-radius: 0 4px 4px 0;
}

.mc-tabs[data-mc="11-0001"] > *:first-child {
  border-radius: 4px 0 0 4px;
}

/*default*/
.mc-tabs[data-mc="11-0001"] > *.active {
  background: #f5f5f5;
}

.mc-tabs[data-mc="11-0001"] > *.active {
  border-color: #dfdfdf;
}

.mc-tabs[data-mc="11-0001"] > *.active {
  color: #666666;
}

.mc-tabs[data-mc="11-0001"] > *:hover {
  background: #fbfbfb;
}

.mc-tabs[data-mc="11-0001"] > *:hover {
  border-color: #e5e5e5;
}

.mc-tabs[data-mc="11-0001"] > *:hover {
  color: #888888;
}

.mc-tabs[data-mc="11-0001"] > *:active {
  background: #f0f0f0;
}

.mc-tabs[data-mc="11-0001"] > *:active {
  border-color: #c0c0c0;
}

.mc-tabs[data-mc="11-0001"] > *:active {
  color: #444444;
}

/*read*/
.mc-tabs[data-mc="11-0001"][data-co="read"] > *.active {
  background: #f5f5f5;
}

.mc-tabs[data-mc="11-0001"][data-co="read"] > *.active {
  border-color: #dfdfdf;
}

.mc-tabs[data-mc="11-0001"][data-co="read"] > *.active {
  color: #666666;
}

.mc-tabs[data-mc="11-0001"][data-co="read"] > *:hover {
  background: #fbfbfb;
}

.mc-tabs[data-mc="11-0001"][data-co="read"] > *:hover {
  border-color: #e5e5e5;
}

.mc-tabs[data-mc="11-0001"][data-co="read"] > *:hover {
  color: #888888;
}

.mc-tabs[data-mc="11-0001"][data-co="read"] > *:active {
  background: #f0f0f0;
}

.mc-tabs[data-mc="11-0001"][data-co="read"] > *:active {
  border-color: #c0c0c0;
}

.mc-tabs[data-mc="11-0001"][data-co="read"] > *:active {
  color: #444444;
}

/*main*/
.mc-tabs[data-mc="11-0001"][data-co="main"] > *.active {
  background: #40beff;
}

.mc-tabs[data-mc="11-0001"][data-co="main"] > *.active {
  border-color: #35b8fb;
}

.mc-tabs[data-mc="11-0001"][data-co="main"] > *.active {
  color: #ffffff;
}

.mc-tabs[data-mc="11-0001"][data-co="main"] > *:hover {
  background: #23cbff;
}

.mc-tabs[data-mc="11-0001"][data-co="main"] > *:hover {
  border-color: #1cbaff;
}

.mc-tabs[data-mc="11-0001"][data-co="main"] > *:hover {
  color: #ffffff;
}

.mc-tabs[data-mc="11-0001"][data-co="main"] > *:active {
  background: #3aadff;
}

.mc-tabs[data-mc="11-0001"][data-co="main"] > *:active {
  border-color: #1199ff;
}

.mc-tabs[data-mc="11-0001"][data-co="main"] > *:active {
  color: #ffffff;
}

/*vice*/
.mc-tabs[data-mc="11-0001"][data-co="vice"] > *.active {
  background: #ffba46;
}

.mc-tabs[data-mc="11-0001"][data-co="vice"] > *.active {
  border-color: #ffa81b;
}

.mc-tabs[data-mc="11-0001"][data-co="vice"] > *.active {
  color: #ffffff;
}

.mc-tabs[data-mc="11-0001"][data-co="vice"] > *:hover {
  background: #ffca54;
}

.mc-tabs[data-mc="11-0001"][data-co="vice"] > *:hover {
  border-color: #ffb822;
}

.mc-tabs[data-mc="11-0001"][data-co="vice"] > *:hover {
  color: #ffffff;
}

.mc-tabs[data-mc="11-0001"][data-co="vice"] > *:active {
  background: #ffa939;
}

.mc-tabs[data-mc="11-0001"][data-co="vice"] > *:active {
  border-color: #ff9715;
}

.mc-tabs[data-mc="11-0001"][data-co="vice"] > *:active {
  color: #ffffff;
}

/*info*/
.mc-tabs[data-mc="11-0001"][data-co="info"] > *.active {
  background: #bea3eb;
}

.mc-tabs[data-mc="11-0001"][data-co="info"] > *.active {
  border-color: #b395e7;
}

.mc-tabs[data-mc="11-0001"][data-co="info"] > *.active {
  color: #ffffff;
}

.mc-tabs[data-mc="11-0001"][data-co="info"] > *:hover {
  background: #d3b8f5;
}

.mc-tabs[data-mc="11-0001"][data-co="info"] > *:hover {
  border-color: #c8a9f3;
}

.mc-tabs[data-mc="11-0001"][data-co="info"] > *:hover {
  color: #ffffff;
}

.mc-tabs[data-mc="11-0001"][data-co="info"] > *:active {
  background: #ad94de;
}

.mc-tabs[data-mc="11-0001"][data-co="info"] > *:active {
  border-color: #a387d9;
}

.mc-tabs[data-mc="11-0001"][data-co="info"] > *:active {
  color: #ffffff;
}

/*success*/
.mc-tabs[data-mc="11-0001"][data-co="success"] > *.active {
  background: #7cd22b;
}

.mc-tabs[data-mc="11-0001"][data-co="success"] > *.active {
  border-color: #71c323;
}

.mc-tabs[data-mc="11-0001"][data-co="success"] > *.active {
  color: #ffffff;
}

.mc-tabs[data-mc="11-0001"][data-co="success"] > *:hover {
  background: #9fe133;
}

.mc-tabs[data-mc="11-0001"][data-co="success"] > *:hover {
  border-color: #80cd59;
}

.mc-tabs[data-mc="11-0001"][data-co="success"] > *:hover {
  color: #ffffff;
}

.mc-tabs[data-mc="11-0001"][data-co="success"] > *:active {
  background: #69bd00;
}

.mc-tabs[data-mc="11-0001"][data-co="success"] > *:active {
  border-color: #4e9c25;
}

.mc-tabs[data-mc="11-0001"][data-co="success"] > *:active {
  color: #ffffff;
}

/*warn*/
.mc-tabs[data-mc="11-0001"][data-co="warn"] > *.active {
  background: #ffba46;
}

.mc-tabs[data-mc="11-0001"][data-co="warn"] > *.active {
  border-color: #ffa929;
}

.mc-tabs[data-mc="11-0001"][data-co="warn"] > *.active {
  color: #ffffff;
}

.mc-tabs[data-mc="11-0001"][data-co="warn"] > *:hover {
  background: #ffca54;
}

.mc-tabs[data-mc="11-0001"][data-co="warn"] > *:hover {
  border-color: #ffb822;
}

.mc-tabs[data-mc="11-0001"][data-co="warn"] > *:hover {
  color: #ffffff;
}

.mc-tabs[data-mc="11-0001"][data-co="warn"] > *:active {
  background: #ff9815;
}

.mc-tabs[data-mc="11-0001"][data-co="warn"] > *:active {
  border-color: #ff9927;
}

.mc-tabs[data-mc="11-0001"][data-co="warn"] > *:active {
  color: #ffffff;
}

/*error*/
.mc-tabs[data-mc="11-0001"][data-co="error"] > *.active {
  background: #ff8176;
}

.mc-tabs[data-mc="11-0001"][data-co="error"] > *.active {
  border-color: #ff897f;
}

.mc-tabs[data-mc="11-0001"][data-co="error"] > *.active {
  color: #ffffff;
}

.mc-tabs[data-mc="11-0001"][data-co="error"] > *:hover {
  background: #ff9286;
}

.mc-tabs[data-mc="11-0001"][data-co="error"] > *:hover {
  border-color: #ff887e;
}

.mc-tabs[data-mc="11-0001"][data-co="error"] > *:hover {
  color: #ffffff;
}

.mc-tabs[data-mc="11-0001"][data-co="error"] > *:active {
  background: #ff7268;
}

.mc-tabs[data-mc="11-0001"][data-co="error"] > *:active {
  border-color: #ff685e;
}

.mc-tabs[data-mc="11-0001"][data-co="error"] > *:active {
  color: #ffffff;
}

.mc-tabs-box[data-mc="11-0001"] > * {
  display: none;
}

.mc-tabs-box[data-mc="11-0001"] > *.active {
  display: block;
}