.mc-radio {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  top: -1px;
  vertical-align: middle;
  cursor: pointer;
}
.mc-radio + * {
  cursor: pointer;
}
.mc-radio > input {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  cursor: pointer;
}
.mc-radio > input + * {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 1px solid #dfdfdf;
  border-radius: 50%;
}
.mc-radio > input:checked + * {
  background: #40beff;
  border: 1px solid #35b8fb;
}
.mc-radio > input:checked + *:before {
  display: block;
  content: "";
  background: #fff;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -0.25rem auto auto -0.25rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
.mc-radio > input + * {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.mc-radio[data-co=vice] > input:checked + * {
  background: #ffba46;
  border: 1px solid #ffa81b;
}
.mc-radio[data-co=success] > input:checked + * {
  background: #7cd22b;
  border: 1px solid #71c323;
}
.mc-radio[data-co=info] > input:checked + * {
  background: #bea3eb;
  border: 1px solid #b395e7;
}
.mc-radio[data-co=warn] > input:checked + * {
  background: #ffba46;
  border: 1px solid #ffa929;
}
.mc-radio[data-co=error] > input:checked + * {
  background: #ff8176;
  border: 1px solid #ff897f;
}
