<div id="button">
    <div class="row col-mw10x">
        <div class="mb1e5">
            <div class="col-box">
                <!--<h4 class="box-title">总销售额</h4>-->
                <div class="box-content">
                    <h3 class="xui-title mb1e">按钮</h3>
                    <p class="xui-btn">默认</p>
                    <input type="button" class="xui-btn" co="main" value="主体色"/>
                    <button class="xui-btn" co="vice">辅助</button>
                    <a class="xui-btn" co="info">信息</a>
                    <b class="xui-btn" co="success">成功</b>
                    <em class="xui-btn" co="warn">警告</em>
                    <label class="xui-btn" co="error">危险</label>
                    <div class="col-box">
                        <p class="mm">
                            我们建议用&lt;button&gt;和&lt;input&gt;来写按钮，如：
                        </p>
                        <pre class="xui-code">
                            <div>
                                <p><span>&lt;button <span class="name">class</span>="<span class="val">xui-btn</span>"&gt;默认&lt;/button&gt;</span></p>
                                <p><span>&lt;input <em class="name">type</em>="<em class="val">submit</em>" <em class="name">class</em>="<em class="val">xui-btn</em>" <em class="name">co</em>="<em class="val">warn</em>" <em class="name">value</em>="<em class="val">按钮</em>" /&gt;</span></p>
                            </div>
                        </pre>
                    </div>
                    <p>效果如下：</p>
                    <button class="xui-btn w8e" co="main">按钮</button>
                    <input type="submit" class="xui-btn w8e" co="warn" value="按钮" />
                    <br />
                    <div class="col-box">
                        <code class="mm">
                            但是我们也可以用其它的标签比如&lt;a&gt;、&lt;b&gt;、&lt;div&gt;、&lt;em&gt;、&lt;p&gt;、&lt;em&gt;、&lt;label&gt;来写按钮，如：
                            <p class="co-main">&lt;a class="xui-btn w10e"&gt;默认&lt;/a&gt;</p>
                        </code>
                        <p>效果如下：</p>
                        <a class="xui-btn w8e" co="main">按钮</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>