<div class="box">
    <div class="row row-mw10x">
        <div class="col-1920-06 mh10x">
            <div class="col-box">
                <h5 class="box-title">上传</h5>
                <div class="box-content both">
                    <label class="xui-file-group ac" data-co="warn"><input type="file" class="xui-file" data-co="warn" value="选择文件"><br><em class="icon icon-zs s3e"></em><br><span>选择文件</span></label>
                </div>
            </div>
        </div>
        <div class="col-1920-06 mh10x">
            <div class="col-box">
                <h5 class="box-title">上传(02)</h5>
                <div class="box-content both">
                    <label class="filebox"><input class="xui-file" type="file"><span>选择文件</span><em></em></label>
                </div>
            </div>
        </div>
        <div class="col-1920-06 mh10x">
            <div class="col-box">
                <h5 class="box-title">上传(UI03)</h5>
                <div class="box-content both">
                    <div class="xui-file-03 w100 col-max fr ms">
                        <input type="text" placeholder="">
                        <label>选择文件<input type="file" /></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1920-06 mh10x">
            <div class="col-box">
                <h5 class="box-title">上传(UI04)</h5>
                <div class="box-content both">
                    <label class="xui-file-04"><input type="file"></label>
                </div>
            </div>
        </div>
    </div>
</div>