<div class="row col-mw10x">
    <div class="col-1920-06 mb1e5">
        <div class="col-box">
            <h4 class="box-title">
                <span>最新注册组件</span>
                <span class="fr co-back mm nw5x-z"><i class="icon icon-tools-m"></i><i
                        class="icon icon-close-m"></i></span>
            </h4>
            <div class="box-content">
                <!--<div class="both mb1e">-->
                <!--<div class="xui-search col-640-06 col-max fr">-->
                <!--<input type="text" class="xui-input" placeholder="输入关键词"/>-->
                <!--<button class="xui-btn">查询</button>-->
                <!--</div>-->
                <!--</div>-->
                <table class="xui-table w100" data-xui="ui1401" data-sz="m">
                    <tr>
                        <th>操作</th>
                        <th>门店名称</th>
                        <th>总销售额</th>
                        <th>总利润</th>
                        <th>日均销售额</th>
                        <th>日均利润</th>
                    </tr>
                    <tr>
                        <td><a href="#" class="co-main">查看</a></td>
                        <td>xui</td>
                        <td>1000</td>
                        <td>300</td>
                        <td>10</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td><a href="#" class="co-main">查看</a></td>
                        <td>xui</td>
                        <td>1000</td>
                        <td>300</td>
                        <td>10</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td><a href="#" class="co-main">查看</a></td>
                        <td>xui</td>
                        <td>1000</td>
                        <td>300</td>
                        <td>10</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td><a href="#" class="co-main">查看</a></td>
                        <td>xui</td>
                        <td>1000</td>
                        <td>300</td>
                        <td>10</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td><a href="#" class="co-main">查看</a></td>
                        <td>xui</td>
                        <td>1000</td>
                        <td>300</td>
                        <td>10</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td><a href="#" class="co-main">查看</a></td>
                        <td>xui</td>
                        <td>1000</td>
                        <td>300</td>
                        <td>10</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td><a href="#" class="co-main">查看</a></td>
                        <td>xui</td>
                        <td>1000</td>
                        <td>300</td>
                        <td>10</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td><a href="#" class="co-main">查看</a></td>
                        <td>xui</td>
                        <td>1000</td>
                        <td>300</td>
                        <td>10</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td><a href="#" class="co-main">查看</a></td>
                        <td>xui</td>
                        <td>1000</td>
                        <td>300</td>
                        <td>10</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td><a href="#" class="co-main">查看</a></td>
                        <td>xui</td>
                        <td>1000</td>
                        <td>300</td>
                        <td>10</td>
                        <td>2</td>
                    </tr>
                </table>
                <div class="both mt15x">
                    <div class="xui-paging" data-xui="ui1503" data-sz="">
                        <ul class="xui-paging-info fl">
                            <li class="group">
                                <div class="xui-select">
                                    <em>10</em>
                                    <ul>
                                        <li>10</li>
                                        <li>20</li>
                                        <li>30</li>
                                        <li>40</li>
                                        <li>50</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <ul class="xui-paging-nav fr">

                            <li class="frist disable"></li>
                            <li class="prve disable"></li>
                            <li class="number" style="min-width:12rem;padding:0 0.5rem"><span
                                    style="width:1rem">第</span><input type="text"
                                                                      style="width:3rem;text-align:center"
                                                                      value="1"/><span
                                    style="width:1rem; margin-right:1rem">页</span><span>共</span><span class="sum"
                                                                                                      style="padding:3px;">50</span><span>页</span>
                            </li>
                            <li class="more">Go</li>
                            <li class="next disable"></li>
                            <li class="last disable"></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-1920-06 mb1e5">
        <div class="col-box">
            <h4 class="box-title">
                <span>组件使用分析</span>
                <span class="fr co-back ms nw5x-z"><i class="icon icon-tools-m"></i><i
                        class="icon icon-close-m"></i></span>
            </h4>
            <div class="box-content h40e">
                <div class="w100 h100 bg-read">
                    图表
                </div>
            </div>
        </div>
    </div>
</div>