<div class="row row-mw10x">
    <div class="col-1600-06">
        <div class="col-box">
            <h5 class="xui-title" data-xui="ui1601">提示（UI0901）</h5>
            <div class="box-content both">
                <div class="xui-hint mr2e" data-co="info">信息提示</div>
                <div class="xui-hint mr2e" data-co="success">成功提示</div>
                <div class="xui-hint mr2e" data-co="warn">警告提示</div>
                <div class="xui-hint mr2e" data-co="error">错误提示</div>
            </div>
        </div>
    </div>
</div>