<div class="row row-mw10x">
    <div class="col-1600-06">
        <div class="col-box">
            <h5 class="xui-title">输入框</h5>
            <div class="box-content both">
                <h6>普通输入框</h6>
                <ul class="nh8x-z">
                    <li><input class="xui-input" type="text" placeholder="默认"/></li>
                    <li><input class="xui-input" type="text" co="main" placeholder="主体"/></li>
                    <li><input class="xui-input" type="text" co="warn" placeholder="警告"/></li>
                    <li><input class="xui-input" type="text" co="error" placeholder="失败"/></li>
                    <li><input class="xui-input" type="text" co="success" placeholder="成功"/></li>
                </ul>
                <div class="both">
                    <h6>带图标输入框</h6>

                </div>
                <ul class="nh8x-z">
                    <li><input class="xui-input-user" co="warn" type="text"/></li>
                    <li><input class="xui-input-password" co="warn" type="text"/></li>
                    <li><button class="xui-btn" co="warn">搜索</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>