<div class="box">
    <div class="row row-mw10x">
        <div class="col-1600-06">
            <div class="col-box">
                <h5 class="box-title">分页插件</h5>
                <div class="box-content both">
                    <div class="xui-paging" data-xui="ui1502">
                        <ul class="xui-paging-info">
                            <li></li>
                        </ul>
                        <ul class="xui-paging-nav">
                            <li class="group">
                                <div class="xui-select">
                                    <em>20</em>
                                    <ul>
                                        <li>20</li>
                                        <li>30</li>
                                        <li>40</li>
                                        <li>50</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="frist disable"></li>
                            <li class="prve disable"></li>
                            <li class="active">1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li class="more">...</li>
                            <li class="sum">50</li>
                            <li class="next disable"></li>
                            <li class="last disable"></li>
                        </ul>
                    </div>
                    <div class="xui-line bk-d mh3e"></div>
                    <div class="xui-paging" data-xui="ui1503">
                        <ul class="xui-paging-info">
                            <li></li>
                        </ul>
                        <ul class="xui-paging-nav">
                            <li class="group">
                                <div class="xui-select">
                                    <em>20</em>
                                    <ul>
                                        <li>20</li>
                                        <li>30</li>
                                        <li>40</li>
                                        <li>50</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="frist disable"></li>
                            <li class="prve disable"></li>
                            <li class="number" style="min-width:12rem;padding:0 0.5rem"><span style="width:1rem">第</span><input type="text" style="width:3rem;text-align:center" value="1" /><span style="width:1rem; margin-right:1rem">页</span><span>共</span><span class="sum" style="padding:3px;">50</span><span>页</span></li>
                            <li class="more">Go</li>
                            <li class="next disable"></li>
                            <li class="last disable"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>