    <div class="row row-mw10x">
        <div class="col-1600-06">
            <div class="col-box">
                <h5 class="xui-title" data-xui="ui1601">弹出框</h5>
                <div class="box-content both">
                    <ul class="row col-mw10x">
                        <li class="col-320-12 col-640-06 col-960-04 col-1280-02"><button class="xui-btn w100 o_popup" data-co="main"  data-popup='["消息","template/page/settings/setting.html",600,300]'>点击呼出弹出框</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>