<div class="row row-mw10x">
    <div class="col-1600-06">
        <div class="col-box">
            <h5 class="box-title">单选框</h5>
            <div class="box-content both">
                <form name="form1">
                    <label class="mr1e">
                            <span class="xui-radio">
                                <input type="radio" name="form1" checked>
                                <em></em>
                            </span>
                        <span>张三</span>
                    </label>
                    <label>
                        <em class="xui-radio">
                            <input type="radio" name="form1">
                            <em></em>
                        </em>
                        <span>李四</span>
                    </label>
                </form>
                <div class="xui-line"></div>
                <form name="form1" class="mr2e-z">
                    <label>
                            <span class="xui-radio" data-co="main">
                                <input type="radio" name="form1" checked>
                                <em></em>
                            </span>
                        <span>data-co=main</span>
                    </label>
                    <label>
                        <em class="xui-radio" data-co="vice">
                            <input type="radio" name="form1">
                            <em></em>
                        </em>
                        <span>data-co=vice</span>
                    </label>
                    <label>
                        <em class="xui-radio" data-co="success">
                            <input type="radio" name="form1">
                            <em></em>
                        </em>
                        <span>data-co=success</span>
                    </label>
                    <label>
                        <em class="xui-radio" data-co="warn">
                            <input type="radio" name="form1">
                            <em></em>
                        </em>
                        <span>data-co=warn</span>
                    </label>
                    <label>
                        <em class="xui-radio" data-co="info">
                            <input type="radio" name="form1">
                            <em></em>
                        </em>
                        <span>data-co=info</span>
                    </label>
                    <label>
                        <em class="xui-radio" data-co="error">
                            <input type="radio" name="form1">
                            <em></em>
                        </em>
                        <span>data-co=error</span>
                    </label>
                </form>
            </div>
        </div>
    </div>
</div>