<div class="row row-mw10x">
    <div class="col-1600-06 mb15x">
        <div class="col-box">
            <h5 class="box-title">开关（01）</h5>
            <div class="box-content both">
                <label class="xui-switch" data-co="main">
                    <input type="checkbox">
                    <b data-on="开" data-off="关"></b>
                </label>
                <div class="xui-switch" data-co="success">
                    <input type="checkbox">
                    <em data-on="开" data-off="关"></em>
                </div>
                <label class="xui-switch" data-co="error">
                    <input type="checkbox" checked="checked">
                    <div data-on="开" data-off="关"></div>
                </label>
                <label class="xui-switch" data-co="warn">
                    <input type="checkbox" disabled="disabled">
                    <div data-on="开" data-off="关"></div>
                </label>
            </div>
        </div>
    </div>
    <div class="col-1600-06 mb15x">
        <div class="col-box">
            <h5 class="box-title">开关（02）</h5>
            <div class="box-content both">
                <label class="xui-switch-02" data-co="main">
                    <input type="checkbox">
                    <b data-on="开" data-off="关"></b>
                </label>
                <div class="xui-switch-02" data-co="success">
                    <input type="checkbox" checked="checked">
                    <em data-on="开" data-off="关"></em>
                </div>
                <label class="xui-switch-02" data-co="error">
                    <input type="checkbox">
                    <div data-on="开" data-off="关"></div>
                </label>
                <label class="xui-switch-02" data-co="warn">
                    <input type="checkbox" disabled="disabled">
                    <div data-on="开" data-off="关"></div>
                </label>
            </div>
        </div>
    </div>
    <div class="col-1600-06 mb15x">
        <div class="col-box">
            <h5 class="box-title">开关（03）</h5>
            <div class="box-content both v3e">
                <div class="xui-switch-03 w8e xui-s">
                    <input type="checkbox"/>
                    <em data-on="开启" data-off="关闭"> </em>
                </div>
                <label class="xui-switch-03 w10e xui-m">
                    <input type="checkbox">
                    <em data-on="记住密码" data-off="忘记密码"> </em>
                </label>
                <p class="xui-switch-03 xui-l">
                    <input type="checkbox">
                    <em data-on="记住密码" data-off="忘记密码"> </em>
                </p>
            </div>
        </div>
    </div>
</div>