    <div class="row row-mw10x">
        <div class="col-1600-06">
            <div class="col-box">
                <h5 class="box-title">表格组件（UI1401）</h5>
                <div class="box-content both">
                    <table class="xui-table w100" data-xui="ui1401" data-co="" data-sz="m">
                        <tr>
                            <th>操作</th>
                            <th>商品名称</th>
                            <th>数量</th>
                            <th>门店</th>
                            <th>单价</th>
                            <th>库存总金额</th>
                        </tr>
                        <tr>
                            <td><a href="#" class="co-main">查看</a></td>
                            <td>xui</td>
                            <td>1000</td>
                            <td>300</td>
                            <td>10</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="co-main">查看</a></td>
                            <td>xui</td>
                            <td>1000</td>
                            <td>300</td>
                            <td>10</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="co-main">查看</a></td>
                            <td>xui</td>
                            <td>1000</td>
                            <td>300</td>
                            <td>10</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="co-main">查看</a></td>
                            <td>xui</td>
                            <td>1000</td>
                            <td>300</td>
                            <td>10</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="co-main">查看</a></td>
                            <td>xui</td>
                            <td>1000</td>
                            <td>300</td>
                            <td>10</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="co-main">查看</a></td>
                            <td>xui</td>
                            <td>1000</td>
                            <td>300</td>
                            <td>10</td>
                            <td>2</td>
                        </tr>
                    </table>
                    <div class="mh3e"></div>
                    <div>
                        <h5>相关属性:</h5>
                        class="xui-tabel"(组件名)<span class="co-danger">必须</span>
                        <br />
                        data-xui="" (组件注册ID,这是区分表格组件不同样式的标识。这是维一的。也是你从官网下载组件时用来识别组件的维一标识)
                        <br />
                        data-co="" (组件色调，如成功，警告，失败等不同状态的色调)<span class="co-danger">选填</span>
                        <br />
                        data-sz="" (组件尺雨,有三个值,s/m/l，可调节组件的尺寸大小)<span class="co-danger">选填</span>
                    </div>
                    <br />
                    <div>
                        <h5>表格组件的用法：</h5>
                        <p class="co-danger">先给需要样式的table加上class="xui-table"</p>
                        <p class="co-danger">如果你只装载了一个表格组件，则data-xui这个属性可写可不写。如果表格组件装载了多个不同的样式，则data-xui是必须填写的。</p>
                    </div>
                    <br />
                    <h5>示例：</h5>
                    <code class="xui-hint w100">
                        &lt;table class="xui-table w100" data-xui="ui1401" data-co="" data-sz="l"&gt;
                        <br />&lt;tr&gt;
                                <br />&lt;th&gt;操作&lt;/th&gt;
                                <br />&lt;th&gt;商品名称&lt;/th&gt;
                                <br />&lt;th&gt;数量&lt;/th&gt;
                                <br />&lt;th&gt;门店&lt;/th&gt;
                                <br />&lt;th&gt;单价&lt;/th&gt;
                                <br />&lt;th&gt;库存总金额&lt;/th&gt;
                        <br />&lt;/tr&gt;
                        z&lt;tr&gt;
                                <br />&lt;td&gt;&lt;a href="#" class="co-main"&gt;查看&lt;/a&gt;&lt;/td&gt;
                                <br />&lt;td&gt;1000&lt;/td&gt;
                                <br />&lt;td&gt;1000&lt;/td&gt;
                                <br />&lt;td&gt;300&lt;/td&gt;
                                <br />&lt;td&gt;10&lt;/td&gt;
                                <br />&lt;td&gt;2&lt;/td&gt;
                        <br />&lt;/tr&gt;
                        <br />&lt;/table&gt;
                    </code>

                </div>
            </div>
        </div>
    </div>
    <div class="row row-mw10x">
        <div class="col-1600-06">
            <div class="col-box">
                <h5 class="box-title">表格组件（UI1402）</h5>
                <div class="box-content both">
                    <table class="xui-table w100" data-xui="ui1402" data-co="" data-sz="m">
                        <tr>
                            <th>操作</th>
                            <th>商品名称</th>
                            <th>数量</th>
                            <th>门店</th>
                            <th>单价</th>
                            <th>库存总金额</th>
                        </tr>
                        <tr>
                            <td><a href="#" class="co-main">查看</a></td>
                            <td>xui</td>
                            <td>1000</td>
                            <td>300</td>
                            <td>10</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="co-main">查看</a></td>
                            <td>xui</td>
                            <td>1000</td>
                            <td>300</td>
                            <td>10</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="co-main">查看</a></td>
                            <td>xui</td>
                            <td>1000</td>
                            <td>300</td>
                            <td>10</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="co-main">查看</a></td>
                            <td>xui</td>
                            <td>1000</td>
                            <td>300</td>
                            <td>10</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="co-main">查看</a></td>
                            <td>xui</td>
                            <td>1000</td>
                            <td>300</td>
                            <td>10</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="co-main">查看</a></td>
                            <td>xui</td>
                            <td>1000</td>
                            <td>300</td>
                            <td>10</td>
                            <td>2</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-mw10x">
        <div class="col-1600-06">
            <div class="col-box">
                <h5 class="box-title">表格组件（UI1403）</h5>
                <div class="box-content both">
                    <table class="xui-table w100" data-xui="ui1403" data-co="" data-sz="s">
                        <tr>
                            <th>操作</th>
                            <th>商品名称</th>
                            <th>数量</th>
                            <th>门店</th>
                            <th>单价</th>
                            <th>库存总金额</th>
                        </tr>
                        <tr>
                            <td><a href="#" class="co-main">查看</a></td>
                            <td>xui</td>
                            <td>1000</td>
                            <td>300</td>
                            <td>10</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="co-main">查看</a></td>
                            <td>xui</td>
                            <td>1000</td>
                            <td>300</td>
                            <td>10</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="co-main">查看</a></td>
                            <td>xui</td>
                            <td>1000</td>
                            <td>300</td>
                            <td>10</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="co-main">查看</a></td>
                            <td>xui</td>
                            <td>1000</td>
                            <td>300</td>
                            <td>10</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="co-main">查看</a></td>
                            <td>xui</td>
                            <td>1000</td>
                            <td>300</td>
                            <td>10</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td><a href="#" class="co-main">查看</a></td>
                            <td>xui</td>
                            <td>1000</td>
                            <td>300</td>
                            <td>10</td>
                            <td>2</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>