<div class="row row-mw10x">
    <div class="col-1600-06">
        <div class="col-box">
            <h5 class="box-title">标签</h5>
            <div class="box-content both">
                <form class="both">
                    <input class="xui-radio" type="radio" name="radio3" id="radio13" value="option3"/>
                </form>
                <div class="xui-line bk-d mh3e"></div>
                <div class="both">
                    <h5>带图标输入框</h5>

                </div>
                <div class="xui-line bk-d mh3e"></div>
                <div class="both">
                    <h5>搜索框</h5>
                    <div class="xui-search col-640-06 col-max">
                        <input class="xui-input" data-co="warn" type="text"/>
                        <button class="xui-btn" data-co="warn">搜索</button>
                    </div>
                </div>
                <div class="xui-line bk-d mh1e"></div>
            </div>
        </div>
    </div>
</div>