/*主体*/
/*辅助*/
/*辅助*/
/*阅读(默认)*/
/*辅助阅读*/
/*信息*/
/*成功*/
/*提醒/警告*/
/*错误/强调*/
/*黑色*/
/*白色*/
/*缩放2*/
@-webkit-keyframes login {
  0% {
    -webkit-transform: scale(0.5, 0.5);
  }
  80% {
    -webkit-transform: scale(1.05, 1.05);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}
@-moz-keyframes login {
  0% {
    -moz-transform: scale(0.5, 0.5);
  }
  80% {
    -moz-transform: scale(1.05, 1.05);
  }
  100% {
    -moz-transform: scale(1, 1);
  }
}
@-o-keyframes login {
  0% {
    -o-transform: scale(0.5, 0.5);
  }
  80% {
    -o-transform: scale(1.05, 1.05);
  }
  100% {
    -o-transform: scale(1, 1);
  }
}
@keyframes login {
  0% {
    transform: scale(0.5, 0.5);
  }
  80% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}
.mc-popup {
  animation: login .3s forwards;
  -moz-animation: login .3s forwards;
  -webkit-animation: login .3s forwards;
  -o-animation: login .3s forwards;
}
#floater {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
}
.mc-popup {
  background: #fff;
  position: absolute;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  padding: 6em 2em 2em 2em;
  border-radius: 2px;
  display: none;
  z-index: 888888;
}
.dim {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
#floater.on,
#floater.on .mc-popup.on,
#floater.on .dim {
  display: block;
}
.popup_title {
  position: absolute;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  background: #ffffff;
  border-bottom: 1px solid #e8e8e8;
  border-radius: 2px 2px 0 0;
  left: 0;
  top: 0;
  padding: 0 2em;
}
.mc-popup .mc-close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  z-index: 999999;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  transition: transform .35s;
  -moz-transition: transform .35s;
  -webkit-transition: transform .35s;
  -o-transition: transform .35s;
}
.mc-popup .mc-close:hover {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}
