<div id="components">
    <div class="header">
        <div class="img-banner-01 h13e">
            <div class="starry">
                <em class="r01"></em> <em class="r02"></em> <em class="r03"></em> <em
                    class="r04"></em> <em class="r05"></em> <em class="r06"></em> <em
                    class="r07"></em> <em class="r08"></em> <em class="r09"></em> <em
                    class="r10"></em> <em class="r11"></em> <em class="r12"></em> <em
                    class="r13"></em> <em class="r14"></em> <em class="r15"></em> <em
                    class="r16"></em> <em class="r17"></em> <em class="r18"></em> <em
                    class="r19"></em> <em class="r20"></em> <em class="r21"></em> <em
                    class="r22"></em> <em class="r23"></em> <i class="r24"></i> <i
                    class="r25"></i> <i class="r26"></i> <i class="r27"></i> <i
                    class="r28"></i> <i class="r29"></i> <i class="r30"></i> <i
                    class="r31"></i> <i class="r32"></i> <i class="r33"></i> <i
                    class="r34"></i> <i class="r35"></i> <i class="r36"></i> <i
                    class="r37"></i> <i class="r38"></i> <i class="r39"></i>
            </div>
            <div class="hvc">
                <div class="box al">
                    <h1 class="s3e fw3">组件</h1>
                    <p>此前已有 <b class="co-vice ml">100</b> 套可复用的组件供您使用。并且在不断更新中; 期待您参与开发基于XUI的优质组件并提交到 <b
                            class="co-vice">xiaojunbo@xinxindai.com</b> 在这里分享！ </p>
                    <p class="gear1 img-gear ie8-9-hide"><b></b><b></b><b></b><b></b><i></i></p>
                    <p class="gear2 img-gear ie8-9-hide"><b></b><b></b><b></b><b></b><i></i></p>
                    <p class="gear3 img-gear ie8-9-hide"><b></b><b></b><b></b><b></b><i></i></p>
                </div>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="nh3e">
            <div class="box">
                <div id="mid-l" class="xui-loading">
                   <p class="xui-model"></p>
                </div>
                <div id="mid-r">
                    <div id="menu" class="xui-scroll">
                        <ul class="xui-menu no">
                            <li class="active" data-folder="dashboard">
                                <em>基础组件</em>
                                <ul class="xui-menu-two">
                                    <li class="o_route" route="components/reset">全局重置</li>
                                    <li class="o_route" route="components/base">基础预设</li>
                                    <li class="o_route" route="components/size">全局字号</li>
                                    <li class="o_route" route="components/color">全局色调</li>
                                    <li class="o_route" route="components/theme">全局主题</li>
                                </ul>
                            </li>
                            <li data-folder="layout">
                                <em>布局组件</em>
                                <ul class="xui-menu-two">
                                    <li class="o_route" route="components/grid">栅格系统</li>
                                    <li class="o_route" route="components/width">预设宽度</li>
                                    <li class="o_route" route="components/height">预设高度</li>
                                    <li class="o_route" route="components/padding">预设内边距</li>
                                    <li class="o_route" route="components/margin">预设外边距</li>
                                </ul>
                            </li>
                            <li data-folder="ui_elements">
                                <em>界面组件</em>
                                <ul class="xui-menu-two">
                                    <li class="o_route" route="components/button">按钮</li>
                                    <li class="o_route" route="components/hint">提示</li>
                                    <li class="o_route" route="components/switch">开关</li>
                                    <li class="o_route" route="components/tag">标签</li>
                                    <li class="o_route" route="components/popup">弹出框</li>
                                    <li class="o_route" route="components/radio">单选框</li>
                                    <li class="o_route" route="components/select">下拉框</li>
                                    <li class="o_route" route="components/input">输入框</li>
                                    <li class="o_route" route="components/radio">单选框</li>
                                    <li class="o_route" route="components/checkbox">复选框</li>
                                    <li class="o_route" route="components/file">上传</li>
                                    <li class="o_route" route="components/paging">分页插件</li>
                                    <li>日期选择</li>
                                    <li class="o_route" route="components/inventory_report">横排菜单</li>
                                    <li class="o_route" route="components/inventory_report">竖式菜单</li>
                                    <li class="o_route" route="components/table">表格</li>
                                </ul>
                            </li>
                            <li>
                                <em>其它组件</em>
                                <ul class="xui-menu-two">
                                    <li>图标</li>
                                    <li>键盘</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>