<div id="home">
    <div class="img-banner-01 h22e">
        <div class="starry">
            <em class="r01"></em> <em class="r02"></em> <em class="r03"></em> <em
                class="r04"></em> <em class="r05"></em> <em class="r06"></em> <em
                class="r07"></em> <em class="r08"></em> <em class="r09"></em> <em
                class="r10"></em> <em class="r11"></em> <em class="r12"></em> <em
                class="r13"></em> <em class="r14"></em> <em class="r15"></em> <em
                class="r16"></em> <em class="r17"></em> <em class="r18"></em> <em
                class="r19"></em> <em class="r20"></em> <em class="r21"></em> <em
                class="r22"></em> <em class="r23"></em> <i class="r24"></i> <i
                class="r25"></i> <i class="r26"></i> <i class="r27"></i> <i
                class="r28"></i> <i class="r29"></i> <i class="r30"></i> <i
                class="r31"></i> <i class="r32"></i> <i class="r33"></i> <i
                class="r34"></i> <i class="r35"></i> <i class="r36"></i> <i
                class="r37"></i> <i class="r38"></i> <i class="r39"></i>
        </div>
        <div class="hvc">
            <div class="box">
                <h1 class="s4e fw2"><span class="co-vice-hover">X</span>UI</h1>
                <p class="two-title">XUI是一套基于MCUI开发的前端组件库，同时她也是一套设计规范。通过XUI，可以非常方便的设计和实现精美的页面。</p>
                <p class="mt2e"><button class="xui-btn xui-s" co="main">下载使用XUI v0.0.1</button></p>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="nh2e">
            <div class="box">
                <div class="box">
                    <ul class="xui-grids" theme="001">
                        <li>更加灵活</li>
                        <li>布局组件</li>
                        <li>界面组件</li>
                        <li>表单组件</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>