<div id="questions">
    <div class="img-banner-01 h13e">
        <div class="starry">
            <em class="r01"></em> <em class="r02"></em> <em class="r03"></em> <em
                class="r04"></em> <em class="r05"></em> <em class="r06"></em> <em
                class="r07"></em> <em class="r08"></em> <em class="r09"></em> <em
                class="r10"></em> <em class="r11"></em> <em class="r12"></em> <em
                class="r13"></em> <em class="r14"></em> <em class="r15"></em> <em
                class="r16"></em> <em class="r17"></em> <em class="r18"></em> <em
                class="r19"></em> <em class="r20"></em> <em class="r21"></em> <em
                class="r22"></em> <em class="r23"></em> <i class="r24"></i> <i
                class="r25"></i> <i class="r26"></i> <i class="r27"></i> <i
                class="r28"></i> <i class="r29"></i> <i class="r30"></i> <i
                class="r31"></i> <i class="r32"></i> <i class="r33"></i> <i
                class="r34"></i> <i class="r35"></i> <i class="r36"></i> <i
                class="r37"></i> <i class="r38"></i> <i class="r39"></i>
        </div>
        <div class="hvc">
            <div class="box al">
                <h1 class="s3e fw3">社区</h1>
                <p>社区是您与XUI维护者最直接有效的交流平台，您可以通过问答系统来反馈和咨询任何问题，我们会第一时间为您解决。</p>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="nh2e">
            <div class="box">
                <table class="xui-table">
                    <tr>
                        <th>111</th>
                        <th>111</th>
                        <th>111</th>
                    </tr>
                    <tr>
                        <td>111</td>
                        <td>111</td>
                        <td>111</td>
                    </tr>
                    <tr>
                        <td>111</td>
                        <td>111</td>
                        <td>111</td>
                    </tr>
                    <tr>
                        <td>111</td>
                        <td>111</td>
                        <td>111</td>
                    </tr>
                    <tr>
                        <td>111</td>
                        <td>111</td>
                        <td>111</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>