<div id="start">
    <div class="img-banner-01 h13e">
        <div class="starry">
            <em class="r01"></em> <em class="r02"></em> <em class="r03"></em> <em
                class="r04"></em> <em class="r05"></em> <em class="r06"></em> <em
                class="r07"></em> <em class="r08"></em> <em class="r09"></em> <em
                class="r10"></em> <em class="r11"></em> <em class="r12"></em> <em
                class="r13"></em> <em class="r14"></em> <em class="r15"></em> <em
                class="r16"></em> <em class="r17"></em> <em class="r18"></em> <em
                class="r19"></em> <em class="r20"></em> <em class="r21"></em> <em
                class="r22"></em> <em class="r23"></em> <i class="r24"></i> <i
                class="r25"></i> <i class="r26"></i> <i class="r27"></i> <i
                class="r28"></i> <i class="r29"></i> <i class="r30"></i> <i
                class="r31"></i> <i class="r32"></i> <i class="r33"></i> <i
                class="r34"></i> <i class="r35"></i> <i class="r36"></i> <i
                class="r37"></i> <i class="r38"></i> <i class="r39"></i>
        </div>
        <div class="hvc">
            <div class="box al">
                <h1 class="s3e fw3">入门</h1>
                <p>如果您对已XUI一见钟情,并且您此前已有了HTML+CSS+JS简单基础，那么本教程将一一为您引导接下来该做什么。</p>
                <p class="plane1 img-plane ie8-9-hide"><b></b><i></i></p>
                <p class="plane2 img-plane ie8-9-hide"><b></b><i></i></p>
                <p class="plane3 img-plane ie8-9-hide"><b></b><i></i></p>
                <p class="plane4 img-plane ie8-9-hide"><b></b><i></i></p>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="nh3e">
            <div class="box">
                <h3 class="xui-title-01" co="back">下载</h3>
                <p>
                    XUI提供以下几种方式帮你快速上手，每一种方式针对具有不同技能等级的开发者和不同的使用场景。继续阅读下面的内容，看看哪种方式适合你的需求吧。
                </p>
            </div>
        </div>
    </div>
</div>