<div id="template">
    <div class="img-banner-01 h13e">
        <div class="starry">
            <em class="r01"></em> <em class="r02"></em> <em class="r03"></em> <em
                class="r04"></em> <em class="r05"></em> <em class="r06"></em> <em
                class="r07"></em> <em class="r08"></em> <em class="r09"></em> <em
                class="r10"></em> <em class="r11"></em> <em class="r12"></em> <em
                class="r13"></em> <em class="r14"></em> <em class="r15"></em> <em
                class="r16"></em> <em class="r17"></em> <em class="r18"></em> <em
                class="r19"></em> <em class="r20"></em> <em class="r21"></em> <em
                class="r22"></em> <em class="r23"></em> <i class="r24"></i> <i
                class="r25"></i> <i class="r26"></i> <i class="r27"></i> <i
                class="r28"></i> <i class="r29"></i> <i class="r30"></i> <i
                class="r31"></i> <i class="r32"></i> <i class="r33"></i> <i
                class="r34"></i> <i class="r35"></i> <i class="r36"></i> <i
                class="r37"></i> <i class="r38"></i> <i class="r39"></i>
        </div>
        <div class="hvc">
            <div class="box al">
                <h1 class="s3e fw3">模板</h1>
                <p>在这里将为您展示一些基于XUI构建、并且用心的设计的优质模版。如果您有基于XUI的精致作品，欢迎您提交到 <b class="co-vice">xiaojunbo@xinxindai.com</b> 在这里展示吧！</p>
                <div class="balloon1 ie8-9-hide"><p class="img-balloon"><b></b><b></b><b></b><b></b><b></b><b></b></p></div>
                <div class="balloon2 ie8-9-hide"><p class="img-balloon"><b></b><b></b><b></b><b></b><b></b><b></b></p></div>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="nh2e">
            <div class="box">
                ...
            </div>
        </div>
    </div>
</div>