/*
 * 组件：卡片列表
 * 组件注册编号：02-0002
 * 标准结构1级
 * 属性：
 * 示例：
 *  <ul class="xui-cards" theme="002">
 *    <li>text1</li>
 *    <li>text2</li>
 *  </ul>
 * 关联：html+css
 */

.xui-cards[theme="001"] {
  width: 100%;
  position: relative;
}

.xui-cards[theme="001"]:after {
  @extend .cb;
}

.xui-cards[theme="001"] > * {
  background: #fff;
  position: relative;
  margin: 10px 0;
  padding: 1rem;
}
