/*
 * 组件：卡片列表
 * 组件注册编号：02-0002
 * 标准结构2级
 * 属性：
 * 示例：
 *  <ul class="xui-cards" theme="002">
 *    <li>text1</li>
 *    <li>text2</li>
 *  </ul>
 * 关联：html+css
 */

.xui-cards[theme="002"] {
  width: 100%;
  position: relative;
}

.xui-cards[theme="002"]:after {
  @extend .cb;
}

.xui-cards[theme="002"] > * {
  position: relative;
  margin: 10px 0;
  padding: 1rem;
  background: #fff linear-gradient(0deg, rgba(0, 0, 0, 0.15) .5px, transparent .5px);
}
