/*
 * 组件类：标题
 * 组件注册编号：26-0002
 * 标准结构1级
 * 属性：
 *  data-co    颜色
 * 示例：
 *  <h5 class="mc-title" mc="26-0002" data-co="main"></h5>
 * 组件关联：html+css
 */

//标题
.mc-title[mc="26-0002"]{
  position: relative;
  display: inline-block;
  width: 100%;
  line-height:1;
  border-bottom:1px solid $bk-back;
  padding-top:.5rem;
  padding-bottom:.5rem;
  margin-bottom:1rem;
}
