/*主体*/
/*辅助*/
/*辅助*/
/*阅读(默认)*/
/*辅助阅读*/
/*信息*/
/*成功*/
/*提醒/警告*/
/*错误/强调*/
/*黑色*/
/*白色*/
.mc-title[data-mcui=ui1601] {
  width: 100%;
  height: 4.5rem;
  line-height: 2.5rem;
  border-bottom: 1px solid #e8e8e8;
  padding: 1rem 1.5rem;
  font-weight: bold;
}
