/*
 * 组件类：标题
 * 组件注册编号：26-0001
 * 标准结构1级
 * 属性：
 *  data-co    颜色
 * 示例：
 *  <h5 class="mc-title" mc="26-0001" data-co="main"></h5>
 * 组件关联：html+css
 */

//标题
.mc-title[mc="26-0001"] {
  position: relative;
  display: inline-block;
  width: 100%;
}

.mc-title[mc="26-0001"]:before,
.mc-title[mc="26-0001"]:after {
  display: inline-block;
  content: "";
  width: 3.5em;
  height: 1px;
  overflow: hidden;
  background: #aaa;
  vertical-align: middle;
}

.mc-title[mc="26-0001"]:after {
  left: 100%;
  margin-left: 1em;
}

.mc-title[mc="26-0001"]:before {
  right: 100%;
  margin-right: 1em;
}

.co-read .mc-title[mc="26-0001"]:before, .co-read .mc-title[mc="26-0001"]:after {
  background: $bk-read;
}

.co-main .mc-title[mc="26-0001"]:before, .co-main .mc-title[mc="26-0001"]:after {
  background: $bk-main-hint;
}

.co-vice .mc-title[mc="26-0001"]:before, .co-vice .mc-title[mc="26-0001"]:after {
  background: $bk-vice-hint;
}

.co-info .mc-title[mc="26-0001"]:before, .co-info .mc-title[mc="26-0001"]:after {
  background: $bk-info-hint;
}

.co-success .mc-title[mc="26-0001"]:before, .co-success .mc-title[mc="26-0001"]:after {
  background: $bk-success-hint;
}

.co-warn .mc-title[mc="26-0001"]:before, .co-warn .mc-title[mc="26-0001"]:after {
  background: $bk-warn-hint;
}

.co-danger .mc-title[mc="26-0001"]:before, .co-danger .mc-title[mc="26-0001"]:after {
  background: $bk-danger-hint;
}

