
[xui] .img-gear {
  position : absolute;
  width : 80px;
  height : 80px;
  display : block;
  top : 25%;
  right : 30%;
  cursor : pointer;
  @include opacity(.8);
}

[xui] .img-gear b {
  width         : 18%;
  height        : 100%;
  display       : block;
  position      : absolute;
  border-radius : 3px;
  background    : radial-gradient(at 50% 50%, rgb(89, 99, 150) 0%, rgba(58,67,100,1.00) 100%);
  left: 41%;
  top: 0;
}

[xui] .img-gear b:nth-child(2) {
  transform : rotate(45deg);
}

[xui] .img-gear b:nth-child(3) {
  transform : rotate(90deg);
}

[xui] .img-gear b:nth-child(4) {
  transform : rotate(135deg);
}

[xui] .img-gear i {
  display       : block;
  width         : 80%;
  height        : 80%;
  border-radius : 100%;
  position      : absolute;
  top           : 10%;
  left          : 10%;
  background    : radial-gradient(at 50% 50%, rgb(88, 98, 150) 0%, rgba(58,67,100,1.00) 100%);
}

[xui] .img-gear i:after {
  content       : " ";
  display       : block;
  width         : 50%;
  height        : 50%;
  border-radius : 100%;
  position      : absolute;
  top           : 25%;
  left          : 25%;
  background    : #090723;
}

[ie8] [xui] .img-gear b,
[ie9] [xui] .img-gear b,
[ie8] [xui] .img-gear i,
[ie9] [xui] .img-gear i {
  display: none;
}