/*主体*/
/*辅助*/
/*辅助*/
/*阅读(默认)*/
/*辅助阅读*/
/*信息*/
/*成功*/
/*提醒/警告*/
/*错误/强调*/
/*黑色*/
/*白色*/
.mc-file-03 {
  position: relative;
  height: 2.5rem;
}
.mc-file-03 .mc-file-03 > input[type="text"] {
  position: absolute;
  width: 100%;
  padding: 0.5rem 4rem 0.5rem 1em;
}
.mc-file-03 > label {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.08);
  line-height: 2.4em;
}
.mc-file-03 .mc-file-03 > input[type="text"]:not([data-co]):focus + .mc-btn {
  border-color: #c0c0c0;
  color: #444444;
}
.mc-file-03 > input[type="text"] {
  display: inline-block;
  width: 100%;
  height: 2.5rem;
  line-height: 1.5rem;
  margin-bottom: 3px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 3px;
  padding: 0.5rem 1em;
  position: absolute;
  top: 0;
  left: 0;
}
.mc-file-03 > label {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 3px;
  text-align: center;
  padding: 0 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.08);
  line-height: 2.4em;
  background: #f5f5f5;
}
.mc-file-03 > label > input[type="file"] {
  display: none;
}
/*default*/
.mc-file-03 > input[type="text"] {
  border-color: #dfdfdf;
}
.mc-file-03 > input[type="text"]:focus {
  border-color: #c0c0c0;
}
/*read*/
.mc-file-03 > input[type="text"][data-co="read"]:focus {
  border-color: #c0c0c0;
}
/*main*/
.mc-file-03 > input[type="text"][data-co="main"]:focus {
  border-color: #35b8fb;
}
/*vice*/
.mc-file-03 > input[type="text"][data-co="vice"]:focus {
  border-color: #ffa81b;
}
/*info*/
.mc-file-03 > input[type="text"][data-co="info"]:focus {
  border-color: #b395e7;
}
/*success*/
.mc-file-03 > input[type="text"][data-co="success"]:focus {
  border-color: #71c323;
}
/*warn*/
.mc-file-03 > input[type="text"][data-co="warn"]:focus {
  border-color: #ffa929;
}
/*error*/
.mc-file-03 > input[type="text"][data-co="error"]:focus {
  border-color: #ff897f;
}
