/*主体*/
/*辅助*/
/*辅助*/
/*阅读(默认)*/
/*辅助阅读*/
/*信息*/
/*成功*/
/*提醒/警告*/
/*错误/强调*/
/*黑色*/
/*白色*/
.mc-file {
  display: none;
}
.mc-file-group {
  display: inline-block;
  min-width: 7rem;
  height: 7rem;
  border: 2px dotted;
  border-radius: 6px;
  padding: 0 2em;
  color: #ccc;
  border-color: #cccccc;
}
.mc-file-group:hover {
  border: 2px dotted #333;
  color: #333333;
}
.mc-file-group[data-co=main].active,
.mc-file-group[data-co=main]:hover {
  border: 2px dotted #3d89cc;
  color: #3d89cc;
}
.mc-file-group[data-co=vice].active,
.mc-file-group[data-co=vice]:hover {
  border: 2px dotted #f90;
  color: #ff9900;
}
.mc-file-group[data-co=info].active,
.mc-file-group[data-co=info]:hover {
  border: 2px dotted #2ac2b2;
  color: #2ac2b2;
}
.mc-file-group[data-co=success].active,
.mc-file-group[data-co=success]:hover {
  border: 2px dotted #85cc54;
  color: #85cc54;
}
.mc-file-group[data-co=warn].active,
.mc-file-group[data-co=warn]:hover {
  border: 2px dotted #f90;
  color: #ff9900;
}
.mc-file-group[data-co=error].active,
.mc-file-group[data-co=error]:hover {
  border: 2px dotted #ff6c60;
  color: #ff6c60;
}
