/*主体*/
/*辅助*/
/*辅助*/
/*阅读(默认)*/
/*辅助阅读*/
/*信息*/
/*成功*/
/*提醒/警告*/
/*错误/强调*/
/*黑色*/
/*白色*/
/*UI0014---xui-file (css+js)---STA*/
.mc-file {
  display: none;
}
.filebox {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.filebox span {
  padding: 0 1em;
  border: 1px solid #ddd;
  border-radius: 3px;
  position: absolute;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.filebox span.select {
  width: 6em;
  padding: 0.35em 1em;
  border: 1px solid #ddd;
  border-radius: 3px;
  position: absolute;
  left: 0;
  margin: -0.4em 5px 0 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  z-index: 10;
}
.filebox span:hover {
  border: 1px solid #79c64f;
  background: #83ce5b;
  color: #fff;
}
.filebox em {
  display: inline-block;
  width: 100%;
  padding: 0 1em 0 7em;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  direction: ltr;
  position: relative;
  top: 2px;
  text-align: right;
}
