/*主体*/
/*辅助*/
/*辅助*/
/*阅读(默认)*/
/*辅助阅读*/
/*信息*/
/*成功*/
/*提醒/警告*/
/*错误/强调*/
/*黑色*/
/*白色*/
/*下拉选择*/
.mc-textarea {
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  line-height: 2.4rem;
  padding: 0 1em;
}
