[xui] .xui-grids[theme="001"] {
  width: 100%;
  margin: -10px;
  position: relative;
}

[xui] .xui-grids[theme="001"]:after {
  content: " ";
  display: table;
  clear: both;
}

[xui] .xui-grids[theme="001"] > * {
  float: left;
  width: 25%;
  padding: 2*$sz;
  position: relative;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}

[xui] .xui-grids[theme="001"] > *:hover {
  color: $co-main
}

.xui-grids[theme="001"] > *:before {
  content: "";
  display: block;
  border: 1px solid $bc-back;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;

}

.xui-grids[theme="001"] > *:hover:before {
  border-color: $co-main;
}
