/*主体*/
/*辅助*/
/*辅助*/
/*阅读(默认)*/
/*辅助阅读*/
/*信息*/
/*成功*/
/*提醒/警告*/
/*错误/强调*/
/*黑色*/
/*白色*/
.mc-table[data-mcui=ui1403] {
  width: 100%;
  border: 1px solid #e8e8e8;
  table-layout: fixed;
}
.mc-table[data-mcui=ui1403] tr:hover {
  background: #f9f9f9;
}
.mc-table[data-mcui=ui1403] th {
  border: 1px solid #e8e8e8;
  background: #f9f9f9;
  height: 3em;
  line-height: 2.9em;
  padding: 0 1em;
}
.mc-table[data-mcui=ui1403] td {
  border: 1px solid #e8e8e8;
  height: 3em;
  line-height: 2.9em;
  padding: 0 1em;
  cursor: pointer;
}
.mc-table[data-mcui=ui1403][data-co=read] {
  border-color: #dfdfdf;
}
.mc-table[data-mcui=ui1403][data-co=read] tr:hover {
  background: #f5f5f5;
}
.mc-table[data-mcui=ui1403][data-co=read] th {
  border-color: #dfdfdf;
  background: #f5f5f5;
}
.mc-table[data-mcui=ui1403][data-co=read] td {
  border-color: #dfdfdf;
}
.mc-table[data-mcui=ui1403][data-sz=s] th,
.mc-table[data-mcui=ui1403][data-sz=s] td {
  height: 2.5em;
  line-height: 2.4em;
}
.mc-table[data-mcui=ui1403][data-sz=m] th,
.mc-table[data-mcui=ui1403][data-sz=m] td {
  height: 3em;
  line-height: 2.9em;
}
.mc-table[data-mcui=ui1403][data-sz=l] th,
.mc-table[data-mcui=ui1403][data-sz=l] td {
  height: 3.5em;
  line-height: 3.4em;
}
