/*主体*/
/*辅助*/
/*辅助*/
/*阅读(默认)*/
/*辅助阅读*/
/*信息*/
/*成功*/
/*提醒/警告*/
/*错误/强调*/
/*黑色*/
/*白色*/
/*---mc-table (css)---STA*/
.mc-table {
  width: 100%;
}
.mc-table tr:hover {
  background: #f9f9f9;
}
.mc-table th {
  border-bottom: 2px solid #e8e8e8;
  line-height: 1.5rem;
  padding: 1rem 1em;
}
.mc-table td {
  border-bottom: 1px solid #e8e8e8;
  line-height: 1.5rem;
  padding: 1rem 1rem;
  cursor: pointer;
}
.mc-table th:first-child,
.mc-table td:first-child {
  padding-left: 0;
}
.mc-table th:last-child,
.mc-table td:last-child {
  padding-right: 0;
}
/*read*/
.mc-table[data-co=read] tr:hover {
  background: #f5f5f5;
}
.mc-table[data-co=read] th {
  border-bottom-color: #dfdfdf;
}
.mc-table[data-co=read] td {
  border-bottom-color: #dfdfdf;
}
.mc-table[data-sz=s] th,
.mc-table[data-sz=s] td {
  line-height: 1.5rem;
  padding:.5rem 1em;
}
.mc-table[data-sz=m] th,
.mc-table[data-sz=m] td {
  line-height: 1.5rem;
  padding:1rem 1em;
}
.mc-table[data-sz=l] th,
.mc-table[data-sz=l] td {
  line-height: 1.5rem;
  padding:1.5rem 1em;
}
