
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1487923911092'); /* IE9*/
  src: url('iconfont.eot?t=1487923911092#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1487923911092') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1487923911092') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1487923911092#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bottom:before { content: "\e658"; }

.icon-left:before { content: "\e659"; }

.icon-right:before { content: "\e65a"; }

.icon-top:before { content: "\e65b"; }

.icon-add:before { content: "\e602"; }

.icon-minus:before { content: "\e603"; }

.icon-loading:before { content: "\e604"; }

.icon-cuo:before { content: "\e607"; }

.icon-dui:before { content: "\e608"; }

.icon-delete:before { content: "\e634"; }

.icon-edit:before { content: "\e635"; }

.icon-home:before { content: "\e637"; }

.icon-menu:before { content: "\e63d"; }

.icon-message:before { content: "\e63e"; }

.icon-notice:before { content: "\e63f"; }

.icon-password:before { content: "\e640"; }

.icon-purchase:before { content: "\e642"; }

.icon-setting:before { content: "\e644"; }

.icon-search:before { content: "\e646"; }

.icon-tools:before { content: "\e649"; }

.icon-user:before { content: "\e64b"; }

