//核心
.mc-nav-aab {display:inline-block;}
.mc-nav-aab > * {display: inline-block;position:relative;cursor: pointer;padding-left:1rem;padding-right:1rem;transition: all .3s; -webkit-transition: all .3s;transform: scale(.85,.85); -webkit-transform: scale(.85,.85);}
.mc-nav-aab > *:hover, .mc-nav-aab > *.active {color:$co-main;transform: scale(1,1); -webkit-transform: scale(1,1);}
.mc-nav-aab > *:active{color:$co-main;transform: scale(.95,.95); -webkit-transform: scale(.95,.95);}
.mc-nav-aab a:before {position: absolute;background-color: transparent;width: 100%;height: 100%;top: 0;left: 0;bottom: 0;right: 0;content: '';}

//规格
.mc-s.mc-nav-aab>*{line-height:1.5rem;padding:.5rem}
.mc-m.mc-nav-aab>*{line-height:1.5rem;padding:1rem}
.mc-l.mc-nav-aab>*{line-height:1.5rem;padding:1.5rem}