@media (min-width : 960px) {
  //核心
  .mc-navs { display : inline-block; }

  .mc-navs > * { display : inline-block; position : relative; cursor : pointer; padding-left : 21px; padding-right : 21px; transition : all .3s; -webkit-transition : all .3s; user-select : none; -webkit-user-select : none }

  .mc-navs > *.on, .mc-navs > *:hover { color : $co-main; -webkit-font-smoothing : subpixel-antialiased; }

  .mc-navs > *:active { color : rgba(255, 255, 255, .6); }

  .mc-navs a:before { position : absolute; background-color : transparent; width : 100%; height : 100%; top : 0; left : 0; bottom : 0; right : 0; content : " "; }

  //.xui-navs > *:hover, .xui-navs > *.active {background: rgba(255, 255, 255, 0.1);}

  .mc-navs > *:before, .mc-navs > *:after { content : " "; position : absolute; bottom : 0; left : 0; display : block; width : 100%; }

  .mc-navs > *:before { height : 100%; background-color : rgba(255, 255, 255, 0.1); transform : scale(1, 0); -webkit-transform : scale(1, 0); transition : all .5s; -webkit-transition : all .5s; transform-origin : 50% 100%; }

  .mc-navs > *:after { height : 2px; background-color : $bg-main; transform : scale(0, 1); -webkit-transform : scale(0, 1); transition : all .5s; -webkit-transition : all .5s; }

  .mc-navs > *:hover:before, .mc-navs > *.on:before { transform : scale(1, 1); -webkit-transform : scale(1, 1); }

  .mc-navs > *:hover:after, .mc-navs > *.on:after { transform : scale(1, 1); -webkit-transform : scale(1, 1); }

  //规格
  //.mc-s.xui-navs>*{line-height:1.5rem;padding:.5rem}
  //.mc-m.xui-navs>*{line-height:1.5rem;padding:1rem}
  //.mc-l.xui-navs>*{line-height:1.5rem;padding:1.5rem}
}
