/*主体*/
/*辅助*/
/*辅助*/
/*阅读(默认)*/
/*辅助阅读*/
/*信息*/
/*成功*/
/*提醒/警告*/
/*错误/强调*/
/*黑色*/
/*白色*/
.mc-search {
  position: relative;
  height: 2.5rem;
}
.mc-search .mc-input {
  position: absolute;
  width: 100%;
  padding: 0.5rem 4rem 0.5rem 1em;
}
.mc-search .mc-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.08);
  line-height: 1.5rem;
  padding: .5rem 1rem;
}
.mc-search .mc-input:not([data-co]):focus + .mc-btn {
  border-color: #c0c0c0;
  color: #444444;
}
