/*非模块化一次性代码，转到css引入，不再打包，因为要留给不想重构的同事和后台使劲瞎搞覆盖的地方。*/
@import "../../xui/theme/default";

//顶部
.tobar {box-shadow: 0 1px 1px rgba(0,0,0,.1)}

//组件
#components #mid-l { width : 940px; float : left; }

#components #mid-r { width : 220px; float : right; }


#components .gear1 {
  animation: am-r360 10s linear infinite;
  -webkit-animation: am-r360 10s linear infinite;
  -moz-animation: am-r360 10s linear infinite;
  -o-animation: am-r360 10s linear infinite;
}

#components .gear2, #components .gear3 {
  animation: am-l360 8s linear infinite;
  -webkit-animation: am-l360 8s linear infinite;
  -moz-animation: am-l360 8s linear infinite;
  -o-animation: am-l360 8s linear infinite;
}

#components .img-banner-01:hover .gear1 {
  animation: am-r360 1s linear infinite;
  -webkit-animation: am-r360 1s linear infinite;
  -moz-animation: am-r360 1s linear infinite;
  -o-animation: am-r360 1s linear infinite;
}

#components .img-banner-01:hover .gear2,#components .img-banner-01:hover .gear3 {
  animation: am-l360 .8s linear infinite;
  -webkit-animation: am-l360 .8s linear infinite;
  -moz-animation: am-l360 .8s linear infinite;
  -o-animation: am-l360 .8s linear infinite;
}
#components .gear1,#components .gear2,#components .gear3{
  position: absolute;
}
#components .gear1 {
  width: 60px;
  height: 60px;
  right: 6.5%;
  top: 25%;
}

#components .gear2 {
  width: 46px;
  height: 46px;
  right: 11%;
  top: 3%;
}

#components .gear3 {
  width: 35px;
  height: 35px;
  right: 11%;
  top: 70%;
}


//入门
#start .plane1,
#start .plane2,
#start .plane3,
#start .plane4 { right : 20%; top : 0; transition : all 0s; -webkit-transition : all 0s; }

#start .plane1 {   transform: scale(.7) translate(136%, -40%); }

#start .plane2 { transform : scale(.6) translate(606%, 150%); }

#start .plane3 { transform : scale(.3) translate(1566%, 650%); }

#start .plane4 {     transform: scale(.4) translate(295%, 0%); }

#start .img-banner-01:hover .plane1 { transform : scale(.6) translate(-656%, -600%); }

#start .img-banner-01:hover .plane2 { transform : scale(.7) translate(136%, -40%); }

#start .img-banner-01:hover .plane3 { transform : scale(.4) translate(295%, 0%); }

#start .img-banner-01:hover .plane4 { transform : scale(.3) translate(-866%, -800%); }

#start .img-banner-01:hover .plane1,
#start .img-banner-01:hover .plane2,
#start .img-banner-01:hover .plane3,
#start .img-banner-01:hover .plane4 {transition : all 2s; -webkit-transition : all 2s;}


//模板
#template .balloon1,
#template .balloon2
{
  width:120px;height:120px;
  position: absolute;
  right:5%;
  bottom:-15%;
  animation: am-float 3s linear infinite alternate;
  -webkit-animation: am-float 3s linear infinite alternate;
  -moz-animation: am-float 3s linear infinite alternate;
  -o-animation: am-float 3s linear infinite alternate;
}

#template .balloon2{
  right:9%;
  bottom:-36%;
}
#template .balloon1 .img-balloon{@include scale(.5,.5)}
#template .balloon2 .img-balloon{@include scale(.23,.23);@include opacity(.4)}
#template .balloon2,#template .img-balloon{transition: all 1s; -webkit-transition: all 1s;}
#template .balloon1{transition: all 10s; -webkit-transition: all 10s;}

#template .img-banner-01:hover .balloon1{
  @include translateY(-30%)
}
#template .img-banner-01:hover .balloon2{
  @include translateY(-20%)
}

#template .img-banner-01:hover .balloon1 .img-balloon{
    transform       : scale(.3) translate(30%,50%);
  -ms-transform     : scale(.3) translate(30%,50%);
  -webkit-transform : scale(.3) translate(30%,50%);
  -o-transform      : scale(.3) translate(30%,50%);
  -moz-transform    : scale(.3) translate(30%,50%);
  @include opacity(.5)
}
#template .img-banner-01:hover .balloon2 .img-balloon{
    transform       : scale(.6) translateY(-30%);
  -ms-transform     : scale(.6) translateY(-30%);
  -webkit-transform : scale(.6) translateY(-30%);
  -o-transform      : scale(.6) translateY(-30%);
  -moz-transform    : scale(.6) translateY(-30%);
  @include opacity(.8)
}