/*主体*/
/*辅助*/
/*辅助*/
/*阅读(默认)*/
/*辅助阅读*/
/*信息*/
/*成功*/
/*提醒/警告*/
/*错误/强调*/
/*黑色*/
/*白色*/
.mc-line,
.mc-line[data-mcui=ui0101] {
  display: block;
  width: 100%;
  height: 1px;
  overflow: hidden;
  clear: both;
  border-top: 1px solid #ddd;
}
.mc-line[data-co="back"] {
  border-top: 1px solid #eee;
}
