/*主体*/
/*辅助*/
/*辅助*/
/*阅读(默认)*/
/*辅助阅读*/
/*信息*/
/*成功*/
/*提醒/警告*/
/*错误/强调*/
/*黑色*/
/*白色*/
/*input*/
/*输入*/
.mc-input {
  display: inline-block;
  width: 100%;
  //height: 2.5rem;
  line-height: 1.5rem;
  //margin-bottom: 3px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 3px;
  padding: 0.5rem 1em;
  position: relative;
}
/*输入*/
.mc-input-group {
  display: inline-block;
  width: 100%;
  //height: 2.5em;
  line-height: 1.5em;
  border: 0;
  border-radius: 0;
  padding: .5rem 1em;
  position: relative;
}
.mc-input-group .mc-input {
  width: 100%;
  height: 100%;
  position: absolute;
  background: none;
  left: 0;
  top: 0;
  padding: 0.5em 1em 0.5em 3em;
}
.mc-input-group > .icon {
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  vertical-align: text-bottom;
  text-align: center;
  z-index: 2;
  left: 0;
  top: 0;
}
/*default*/
.mc-input {
  border-color: #dfdfdf;
}
.mc-input:focus {
  border-color: #c0c0c0;
}
/*read*/
.mc-input[data-co="read"]:focus {
  border-color: #c0c0c0;
}
/*main*/
.mc-input[data-co="main"]:focus {
  border-color: #35b8fb;
}
/*vice*/
.mc-input[data-co="vice"]:focus {
  border-color: #ffa81b;
}
/*info*/
.mc-input[data-co="info"]:focus {
  border-color: #b395e7;
}
/*success*/
.mc-input[data-co="success"]:focus {
  border-color: #71c323;
}
/*warn*/
.mc-input[data-co="warn"]:focus {
  border-color: #ffa929;
}
/*error*/
.mc-input[data-co="error"]:focus {
  border-color: #ff897f;
}
