/*主体*/
/*辅助*/
/*辅助*/
/*阅读(默认)*/
/*辅助阅读*/
/*信息*/
/*成功*/
/*提醒/警告*/
/*错误/强调*/
/*黑色*/
/*白色*/
.mc-switch-03 {
  cursor: pointer;
  display: inline-block;
}
.mc-switch-03 > input + * {
  display: inline-block;
  white-space: nowrap;
  min-width: 2rem;
  height: 1rem;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  position: relative;
  top: 1px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.mc-switch-03 > input + *:before {
  display: block;
  position: absolute;
  font-size: 0.5em;
  width: 1rem;
  height: 1rem;
  overflow: hidden;
  color: #ffffff;
  text-align: center;
  line-height: 1rem;
}
.mc-switch-03 > input + *:before {
  content: "N";
  left: -1px;
  top: -1px;
  border: 1px solid #ffba46;
  background: #ffba46;
  border-radius: 3px 0 0 3px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.mc-switch-03 > input:checked + em:before {
  content: "O";
  left: 1rem;
  top: -1px;
  border: 1px solid #7cd22b;
  background: #7cd22b;
  border-radius: 0 3px 3px 0;
}
.mc-switch-03 > input {
  display: none;
}
.mc-switch-03 > input + *:after {
  display: block;
  position: absolute;
  left: 120%;
  height: 1rem;
  overflow: hidden;
  text-align: center;
  line-height: 1rem;
}
.mc-switch-03 > input + *:after {
  content: attr(data-off);
  color: #ffa81b;
}
.mc-switch-03 > input:checked + *:after {
  content: attr(data-on);
  color: #65c22d;
}
.mc-s.mc-switch-03 > input + * {
  min-width: 2rem;
  height: 1rem;
}
.mc-s.mc-switch-03 > input + *:before {
  font-size: .7em;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
}
.mc-s.mc-switch-03 > input:checked + em:before {
  left: 1rem;
}
.mc-s.mc-switch-03 > input + *:after {
  height: 1rem;
  line-height: 1rem;
}
.mc-m.mc-switch-03 > input + * {
  min-width: 3rem;
  height: 1.5rem;
}
.mc-m.mc-switch-03 > input + *:before {
  font-size: 1em;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
}
.mc-m.mc-switch-03 > input:checked + em:before {
  left: 1.5rem;
}
.mc-m.mc-switch-03 > input + *:after {
  height: 1.5rem;
  line-height: 1.5rem;
}
.mc-l.mc-switch-03 > input + * {
  min-width: 4rem;
  height: 2rem;
}
.mc-l.mc-switch-03 > input + *:before {
  font-size: 1em;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}
.mc-l.mc-switch-03 > input:checked + em:before {
  left: 2rem;
}
.mc-l.mc-switch-03 > input + *:after {
  height: 2rem;
  line-height: 2rem;
}
.mc-switch-03 > input + *:before {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.mc-switch-03.disabled,
.mc-switch-03 input:disabled + * {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
  cursor: not-allowed;
}
.mc-switch-03.disabled input,
.mc-switch-03 input:disabled {
  cursor: not-allowed;
}
