/*主体*/
/*辅助*/
/*辅助*/
/*阅读(默认)*/
/*辅助阅读*/
/*信息*/
/*成功*/
/*提醒/警告*/
/*错误/强调*/
/*黑色*/
/*白色*/
.mc-switch {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}
.mc-switch input {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  cursor: pointer;
}
.mc-switch input + * {
  display: block;
  min-width: 3rem;
  height: 1.5rem;
  background: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 1.5rem;
  overflow: auto;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  position: relative;
  font-weight: normal;
}
.mc-switch input + *:after {
  display: block;
  content: "";
  position: relative;
  left: 0;
  width: 1rem;
  height: 1rem;
  margin: 0.25rem;
  border: 1px solid #dfdfdf;
  background: #f5f5f5;
  border-radius: 50%;
}
.mc-switch input + * {
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0 inset;
  transition: border 0.4s, box-shadow 0.4s;
}
.mc-switch input:checked + *:after {
  left: 50%;
}
.mc-switch input + *:after {
  transition: all .25s;
  -moz-transition: all .25s;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
}
.mc-switch input:checked + *,
.mc-switch input:checked + *:after {
  border-color: transparent;
}
.mc-switch input:checked + *:after {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.mc-switch[data-co=main] input:checked + * {
  box-shadow: #35b8fb 0px 0px 0px 1.5rem inset;
}
.mc-switch[data-co=vice] input:checked + * {
  box-shadow: #ffa81b 0px 0px 0px 1.5rem inset;
}
.mc-switch[data-co=success] input:checked + * {
  box-shadow: #71c323 0px 0px 0px 1.5rem inset;
}
.mc-switch[data-co=info] input:checked + * {
  box-shadow: #b395e7 0px 0px 0px 1.5rem inset;
}
.mc-switch[data-co=warn] input:checked + * {
  box-shadow: #ffa929 0px 0px 0px 1.5rem inset;
}
.mc-switch[data-co=error] input:checked + * {
  box-shadow: #ff897f 0px 0px 0px 1.5rem inset;
}
.mc-s.mc-switch input + * {
  min-width: 2rem;
  height: 1rem;
}
.mc-s.mc-switch input + *:after {
  width: .5rem;
  height: .5rem;
}
.mc-l.mc-switch input + * {
  min-width: 4rem;
  height: 2rem;
}
.mc-l.mc-switch input + *:after {
  width: 1.5rem;
  height: 1.5rem;
}
.mc-switch.disabled,
.mc-switch input:disabled + * {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: not-allowed;
}
.mc-switch.disabled input,
.mc-switch input:disabled {
  cursor: not-allowed;
}
