@-webkit-keyframes am-float {
  0% {-webkit-transform: translate(0,-5%);}
  100% {-webkit-transform: translate(0,0%);}
}

@-ms-keyframes am-float {
  0% {-ms-transform: translate(0,-5%);}
  100% {-ms-transform: translate(0,0%);}
}

@-moz-keyframes am-float {
  0% {-moz-transform: translate(0,-5%);}
  100% {-moz-transform: translate(0,0%);}
}

@-o-keyframes am-float {
  0% {-o-transform: translate(0,-5%);}
  100% {-o-transform: translate(0,0%);}
}

@keyframes am-float {
  0% {transform: translate(0,-5%);}
  100% {transform: translate(0,0%);}
}