/*主体*/
/*辅助*/
/*辅助*/
/*阅读(默认)*/
/*辅助阅读*/
/*信息*/
/*成功*/
/*提醒/警告*/
/*错误/强调*/
/*黑色*/
/*白色*/
/*下拉选择*/
.mc-select {
  display: inline-block;
  min-width: 6em;
  height: 2.5em;
  line-height: 2.4em;
  position: relative;
  cursor: pointer;
}
.mc-select > *:first-child {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 1.5em 0 1em;
  z-index: 1;
}
.mc-select > *:first-child:after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border: 4px solid transparent;
  border-top-color: #999999;
  right: .8em;
  top: 50%;
  margin-top: -2px;
}
.mc-select.menu_up > *:first-child:after {
  border: 4px solid transparent;
  border-bottom-color: #999999;
  margin-top: -6px;
}
.mc-select > *:nth-child(2) {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  border: 1px solid #dfdfdf;
  border-radius: 0 0 2px 2px;
  background: #ffffff;
  z-index: 1000;
  border-top: 0;
}
.mc-select.menu_up > *:nth-child(2) {
  bottom: 100%;
  top: auto;
  margin-top: 0;
  margin-bottom: -1px;
}
.mc-select .select_list > li {
  padding: 0 1em;
}
.mc-select .select_list > li:hover {
  background: #f5f5f5;
  color: #444444;
}
.mc-select:hover > *:first-child {
  border-color: #dfdfdf;
}
.mc-select:hover > *:first-child:after {
  border-top-color: #666666;
}
.mc-select:hover.menu_up > *:first-child:after {
  border-top-color: transparent;
  border-bottom-color: #666666;
}
.mc-select:hover > *:nth-child(2) {
  border-color: #dfdfdf;
}
.mc-select[data-co="main"]:hover > *:first-child {
  border-color: #35b8fb;
}
.mc-select[data-co="main"]:hover > *:first-child:after {
  border-top-color: #16aaff;
}
.mc-select[data-co="main"]:hover > *:nth-child(2) {
  border-color: #35b8fb;
}
.mc-select[data-co="main"] .select_list > li:hover {
  background: #40beff;
  color: #ffffff;
}
.mc-select[data-co="vice"]:hover > *:first-child {
  border-color: #ffa81b;
}
.mc-select[data-co="vice"]:hover > *:first-child:after {
  border-top-color: #ffa81b;
}
.mc-select[data-co="vice"] .select_list > li:hover {
  background: #ffba46;
  color: #ffffff;
}
.mc-select[data-co="vice"]:hover > *:nth-child(2) {
  border-color: #ffba46;
}
.mc-select[data-co="info"]:hover > *:first-child {
  border-color: #b395e7;
}
.mc-select[data-co="info"]:hover > *:first-child:after {
  border-top-color: #bea3eb;
}
.mc-select[data-co="info"]:hover > *:nth-child(2) {
  border-color: #b395e7;
}
.mc-select[data-co="info"] .select_list > li:hover {
  background: #bea3eb;
  color: #ffffff;
}
.mc-select[data-co="success"]:hover > *:first-child {
  border-color: #71c323;
}
.mc-select[data-co="success"]:hover > *:first-child:after {
  border-top-color: #65c22d;
}
.mc-select[data-co="success"] .select_list > li:hover {
  background: #7cd22b;
  color: #ffffff;
}
.mc-select[data-co="success"]:hover > *:nth-child(2) {
  border-color: #35b8fb;
}
.mc-select[data-co="warn"]:hover > *:first-child {
  border-color: #ffa929;
}
.mc-select[data-co="warn"]:hover > *:first-child:after {
  border-top-color: #ffa81b;
}
.mc-select[data-co="warn"] .select_list > li:hover {
  background: #ffba46;
  color: #ffffff;
}
.mc-select[data-co="warn"]:hover > *:nth-child(2) {
  border-color: #35b8fb;
}
.mc-select[data-co="error"]:hover > *:first-child {
  border-color: #ff897f;
}
.mc-select[data-co="error"]:hover > *:first-child:after {
  border-top-color: #ff796f;
}
.mc-select[data-co="error"] .select_list > li:hover {
  background: #ff8176;
  color: #ffffff;
}
.mc-select[data-co="error"]:hover > *:nth-child(2) {
  border-color: #35b8fb;
}
