/*
 结构：上中下结构
 视口：3
 */
[frame=simple] {
  .middle {
    padding-top: 4*$sz
  }
  .tobar {
    width: 100%;
    height: 4*$sz;
    line-height: 4*$sz;
    color: $co-tobar;
    background: $bg-tobar;
    position: fixed;
    z-index: 9
  }

  .route-loading {
    width: 100%;
    min-height: 20rem;
    background: #fff;
    text-align: center;
  }
  @keyframes route-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes route-loading {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  #frame_main{
    min-height: 40rem;
  }

  .am-loading{
    display: block;
    position: fixed;
    top:5*$sz;
    width: 100%;
    height: 10rem;
    z-index: 20;
  }
  .am-loading:before,
  .am-loading:after {
    content: " ";
    display: none;
    color: #fff;
    position: absolute;
    top: 1rem;
    left:50%;

  }
  .loading .am-loading:before, .loading .am-loading:after{
    display: inline-block;
  }
  .am-loading:before{
    background: rgba(255,255,255,.95);
    width: 4rem;
    height: 4rem;
    border-radius: 5px;
    margin-top: 1rem;
    margin-left:-2rem;
  }
  .am-loading:after{
    width: 2rem;
    height: 2rem;
    margin-top: 2rem;
    margin-left:-1rem;
    animation: route-loading 1s linear infinite;
    -webkit-animation: route-loading 1s linear infinite;
    background:
            radial-gradient(circle at 50% 7%,       rgba(0, 0, 0, 1)   2%, rgba(0, 0, 0, 0) 3%),
            radial-gradient(circle at 32% 11%,      rgba(0, 0, 0, .96) 2%, rgba(0, 0, 0, 0) 3%),
            radial-gradient(circle at 19% 20%,      rgba(0, 0, 0, .94) 2%, rgba(0, 0, 0, 0) 3%),
            radial-gradient(circle at 10% 34%,      rgba(0, 0, 0, .90) 2%, rgba(0, 0, 0, 0) 3%),
            radial-gradient(circle at 7% 50%,       rgba(0, 0, 0, .86) 2%, rgba(0, 0, 0, 0) 3%),
            radial-gradient(circle at 10% 66.5%,    rgba(0, 0, 0, .82) 2%, rgba(0, 0, 0, 0) 3%),
            radial-gradient(circle at 19% 80%,      rgba(0, 0, 0, .78) 2%, rgba(0, 0, 0, 0) 3%),
            radial-gradient(circle at 33% 89%,      rgba(0, 0, 0, .74) 2%, rgba(0, 0, 0, 0) 3%),
            radial-gradient(circle at 50% 93%,      rgba(0, 0, 0, .66) 2%, rgba(0, 0, 0, 0) 3%),
            radial-gradient(circle at 68% 89%,      rgba(0, 0, 0, .62) 2%, rgba(0, 0, 0, 0) 3%),
            radial-gradient(circle at 81% 80%,      rgba(0, 0, 0, .56) 2%, rgba(0, 0, 0, 0) 3%),
            radial-gradient(circle at 90% 66.5%,    rgba(0, 0, 0, .5)  2%, rgba(0, 0, 0, 0) 3%),
            radial-gradient(circle at 93% 50%,      rgba(0, 0, 0, .4)  2%, rgba(0, 0, 0, 0) 3%),
            radial-gradient(circle at 90% 34%,      rgba(0, 0, 0, .3)  2%, rgba(0, 0, 0, 0) 3%),
            radial-gradient(circle at 81% 20%,      rgba(0, 0, 0, .2)  2%, rgba(0, 0, 0, 0) 3%),
            radial-gradient(circle at 68% 11%,      rgba(0, 0, 0, .1)  2%, rgba(0, 0, 0, 0) 3%);
  }
}
