/*主体*/
/*辅助*/
/*辅助*/
/*阅读(默认)*/
/*辅助阅读*/
/*信息*/
/*成功*/
/*提醒/警告*/
/*错误/强调*/
/*黑色*/
/*白色*/
/*1502---mc-paging (css)---STA*/
.mc-paging[data-mcui=ui1502] > .mc-paging-nav {
  display: inline-block;
  list-style: none;
  position: relative;
}
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > * {
  display: inline-block;
  float: left;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.4rem;
  position: relative;
  background: #ffffff;
  border: 1px solid #dfdfdf;
  text-align: center;
  cursor: pointer;
  transition: background 0.2s;
  -moz-transition: background 0.2s;
  -webkit-transition: background 0.2s;
  -o-transition: all 0.2s;
  margin-right: -1px;
}
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *.group {
  width: 6rem;
  margin-right: 5px;
  border: 0;
}
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *.frist {
  border-radius: 3px 0 0 3px;
}
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *:last-child {
  border: 1px solid #dfdfdf;
  border-radius: 0 3px 3px 0;
}
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *.prve:after,
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *.next:after {
  display: inline-block;
  content: "";
  width: 0.45em;
  height: 0.45em;
  border: 0.45em solid transparent;
}
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *.prve:after {
  border-right-color: #999999;
  margin-left: -0.45em;
}
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *.next:after {
  border-left-color: #999999;
  margin-right: -0.45em;
}
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *.frist:before,
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *.last:before {
  display: inline-block;
  content: "";
  width: 2px;
  height: .9em;
  background: #999999;
}
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *.frist:after,
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *.last:after {
  display: inline-block;
  content: "";
  width: 0.45em;
  height: 0.45em;
  border: 0.45em solid transparent;
}
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *.last:before {
  margin-right: -0.8em;
}
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *.frist:after {
  border-right-color: #999999;
  margin-left: -0.2em;
}
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *.last:after {
  border-left-color: #999999;
  margin-right: -0.6em;
}
/*default*/
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *.active {
  background: #f5f5f5;
  border-color: #dfdfdf;
  color: #666666;
}
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *:hover {
  background: #fbfbfb;
  border-color: #e5e5e5;
  color: #888888;
}
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *:active {
  background: #f0f0f0;
  border-color: #c0c0c0;
  color: #444444;
}
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *.active + * {
  border-left-color: #dfdfdf;
}
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *:hover + * {
  border-left-color: #e5e5e5;
}
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *:active + * {
  border-left-color: #c0c0c0;
}
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *:hover.prve:after,
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *:hover.frist:after,
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *:active.prve:after,
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *:active.frist:after,
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *.active.prve:after,
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *.active.frist:after {
  border-right-color: #666666;
}
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *:hover.next:after,
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *:hover.last:after,
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *:active.next:after,
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *:active.last:after,
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *.active.next:after,
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *.active.last:after {
  border-left-color: #666666;
}
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *:hover.frist:before,
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *:hover.last:before,
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *:active.frist:before,
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *:active.last:before,
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *.active.frist:before,
.mc-paging[data-mcui=ui1502] > .mc-paging-nav > *.active.last:before {
  background: #666666;
}
/*main*/
.mc-paging[data-co=main] > .mc-paging-nav > *.active {
  background: #40beff;
  border-color: #35b8fb;
  color: #ffffff;
}
.mc-paging[data-co=main] > .mc-paging-nav > *:hover {
  background: #23cbff;
  border-color: #1cbaff;
  color: #ffffff;
}
.mc-paging[data-co=main] > .mc-paging-nav > *:active {
  background: #3aadff;
  border-color: #1199ff;
  color: #ffffff;
}
.mc-paging[data-co=main] > .mc-paging-nav > *.active + * {
  border-left-color: #35b8fb;
}
.mc-paging[data-co=main] > .mc-paging-nav > *:hover + * {
  border-left-color: #1cbaff;
}
.mc-paging[data-co=main] > .mc-paging-nav > *:active + * {
  border-left-color: #1199ff;
}
.mc-paging[data-co=main] > .mc-paging-nav > *:hover.prve:after,
.mc-paging[data-co=main] > .mc-paging-nav > *:hover.frist:after,
.mc-paging[data-co=main] > .mc-paging-nav > *:active.prve:after,
.mc-paging[data-co=main] > .mc-paging-nav > *:active.frist:after,
.mc-paging[data-co=main] > .mc-paging-nav > *.active.prve:after,
.mc-paging[data-co=main] > .mc-paging-nav > *.active.frist:after {
  border-right-color: #ffffff;
}
.mc-paging[data-co=main] > .mc-paging-nav > *:hover.next:after,
.mc-paging[data-co=main] > .mc-paging-nav > *:hover.last:after,
.mc-paging[data-co=main] > .mc-paging-nav > *:active.next:after,
.mc-paging[data-co=main] > .mc-paging-nav > *:active.last:after,
.mc-paging[data-co=main] > .mc-paging-nav > *.active.next:after,
.mc-paging[data-co=main] > .mc-paging-nav > *.active.last:after {
  border-left-color: #ffffff;
}
.mc-paging[data-co=main] > .mc-paging-nav > *:hover.frist:before,
.mc-paging[data-co=main] > .mc-paging-nav > *:hover.last:before,
.mc-paging[data-co=main] > .mc-paging-nav > *:active.frist:before,
.mc-paging[data-co=main] > .mc-paging-nav > *:active.last:before,
.mc-paging[data-co=main] > .mc-paging-nav > *.active.frist:before,
.mc-paging[data-co=main] > .mc-paging-nav > *.active.last:before {
  background: #ffffff;
}
/*vice*/
.mc-paging[data-co=vice] > .mc-paging-nav > *.active {
  background: #ffba46;
  border-color: #ffa81b;
  color: #ffffff;
}
.mc-paging[data-co=vice] > .mc-paging-nav > *:hover {
  background: #ffca54;
  border-color: #ffb822;
  color: #ffffff;
}
.mc-paging[data-co=vice] > .mc-paging-nav > *:active {
  background: #ffa939;
  border-color: #ff9715;
  color: #ffffff;
}
.mc-paging[data-co=vice] > .mc-paging-nav > *.active + * {
  border-left-color: #ffa81b;
}
.mc-paging[data-co=vice] > .mc-paging-nav > *:hover + * {
  border-left-color: #ffb822;
}
.mc-paging[data-co=vice] > .mc-paging-nav > *:active + * {
  border-left-color: #ff9715;
}
.mc-paging[data-co=vice] > .mc-paging-nav > *:hover.prve:after,
.mc-paging[data-co=vice] > .mc-paging-nav > *:hover.frist:after,
.mc-paging[data-co=vice] > .mc-paging-nav > *:active.prve:after,
.mc-paging[data-co=vice] > .mc-paging-nav > *:active.frist:after,
.mc-paging[data-co=vice] > .mc-paging-nav > *.active.prve:after,
.mc-paging[data-co=vice] > .mc-paging-nav > *.active.frist:after {
  border-right-color: #ffffff;
}
.mc-paging[data-co=vice] > .mc-paging-nav > *:hover.next:after,
.mc-paging[data-co=vice] > .mc-paging-nav > *:hover.last:after,
.mc-paging[data-co=vice] > .mc-paging-nav > *:active.next:after,
.mc-paging[data-co=vice] > .mc-paging-nav > *:active.last:after,
.mc-paging[data-co=vice] > .mc-paging-nav > *.active.next:after,
.mc-paging[data-co=vice] > .mc-paging-nav > *.active.last:after {
  border-left-color: #ffffff;
}
.mc-paging[data-co=vice] > .mc-paging-nav > *:hover.frist:before,
.mc-paging[data-co=vice] > .mc-paging-nav > *:hover.last:before,
.mc-paging[data-co=vice] > .mc-paging-nav > *:active.frist:before,
.mc-paging[data-co=vice] > .mc-paging-nav > *:active.last:before,
.mc-paging[data-co=vice] > .mc-paging-nav > *.active.frist:before,
.mc-paging[data-co=vice] > .mc-paging-nav > *.active.last:before {
  background: #ffffff;
}
/*info*/
.mc-paging[data-co=info] > .mc-paging-nav > *.active {
  background: #bea3eb;
  border-color: #b395e7;
  color: #ffffff;
}
.mc-paging[data-co=info] > .mc-paging-nav > *:hover {
  background: #d3b8f5;
  border-color: #c8a9f3;
  color: #ffffff;
}
.mc-paging[data-co=info] > .mc-paging-nav > *:active {
  background: #ad94de;
  border-color: #a387d9;
  color: #ffffff;
}
.mc-paging[data-co=info] > .mc-paging-nav > *.active + * {
  border-left-color: #b395e7;
}
.mc-paging[data-co=info] > .mc-paging-nav > *:hover + * {
  border-left-color: #c8a9f3;
}
.mc-paging[data-co=info] > .mc-paging-nav > *:active + * {
  border-left-color: #a387d9;
}
.mc-paging[data-co=info] > .mc-paging-nav > *:hover.prve:after,
.mc-paging[data-co=info] > .mc-paging-nav > *:hover.frist:after,
.mc-paging[data-co=info] > .mc-paging-nav > *:active.prve:after,
.mc-paging[data-co=info] > .mc-paging-nav > *:active.frist:after,
.mc-paging[data-co=info] > .mc-paging-nav > *.active.prve:after,
.mc-paging[data-co=info] > .mc-paging-nav > *.active.frist:after {
  border-right-color: #ffffff;
}
.mc-paging[data-co=info] > .mc-paging-nav > *:hover.next:after,
.mc-paging[data-co=info] > .mc-paging-nav > *:hover.last:after,
.mc-paging[data-co=info] > .mc-paging-nav > *:active.next:after,
.mc-paging[data-co=info] > .mc-paging-nav > *:active.last:after,
.mc-paging[data-co=info] > .mc-paging-nav > *.active.next:after,
.mc-paging[data-co=info] > .mc-paging-nav > *.active.last:after {
  border-left-color: #ffffff;
}
.mc-paging[data-co=info] > .mc-paging-nav > *:hover.frist:before,
.mc-paging[data-co=info] > .mc-paging-nav > *:hover.last:before,
.mc-paging[data-co=info] > .mc-paging-nav > *:active.frist:before,
.mc-paging[data-co=info] > .mc-paging-nav > *:active.last:before,
.mc-paging[data-co=info] > .mc-paging-nav > *.active.frist:before,
.mc-paging[data-co=info] > .mc-paging-nav > *.active.last:before {
  background: #ffffff;
}
/*success*/
.mc-paging[data-co=success] > .mc-paging-nav > *.active {
  background: #7cd22b;
  border-color: #71c323;
  color: #ffffff;
}
.mc-paging[data-co=success] > .mc-paging-nav > *:hover {
  background: #9fe133;
  border-color: #80cd59;
  color: #ffffff;
}
.mc-paging[data-co=success] > .mc-paging-nav > *:active {
  background: #69bd00;
  border-color: #4e9c25;
  color: #ffffff;
}
.mc-paging[data-co=success] > .mc-paging-nav > *.active + * {
  border-left-color: #71c323;
}
.mc-paging[data-co=success] > .mc-paging-nav > *:hover + * {
  border-left-color: #80cd59;
}
.mc-paging[data-co=success] > .mc-paging-nav > *:active + * {
  border-left-color: #4e9c25;
}
.mc-paging[data-co=success] > .mc-paging-nav > *:hover.prve:after,
.mc-paging[data-co=success] > .mc-paging-nav > *:hover.frist:after,
.mc-paging[data-co=success] > .mc-paging-nav > *:active.prve:after,
.mc-paging[data-co=success] > .mc-paging-nav > *:active.frist:after,
.mc-paging[data-co=success] > .mc-paging-nav > *.active.prve:after,
.mc-paging[data-co=success] > .mc-paging-nav > *.active.frist:after {
  border-right-color: #ffffff;
}
.mc-paging[data-co=success] > .mc-paging-nav > *:hover.next:after,
.mc-paging[data-co=success] > .mc-paging-nav > *:hover.last:after,
.mc-paging[data-co=success] > .mc-paging-nav > *:active.next:after,
.mc-paging[data-co=success] > .mc-paging-nav > *:active.last:after,
.mc-paging[data-co=success] > .mc-paging-nav > *.active.next:after,
.mc-paging[data-co=success] > .mc-paging-nav > *.active.last:after {
  border-left-color: #ffffff;
}
.mc-paging[data-co=success] > .mc-paging-nav > *:hover.frist:before,
.mc-paging[data-co=success] > .mc-paging-nav > *:hover.last:before,
.mc-paging[data-co=success] > .mc-paging-nav > *:active.frist:before,
.mc-paging[data-co=success] > .mc-paging-nav > *:active.last:before,
.mc-paging[data-co=success] > .mc-paging-nav > *.active.frist:before,
.mc-paging[data-co=success] > .mc-paging-nav > *.active.last:before {
  background: #ffffff;
}
/*warn*/
.mc-paging[data-co=warn] > .mc-paging-nav > *.active {
  background: #ffba46;
  border-color: #ffa929;
  color: #ffffff;
}
.mc-paging[data-co=warn] > .mc-paging-nav > *:hover {
  background: #ffca54;
  border-color: #ffb822;
  color: #ffffff;
}
.mc-paging[data-co=warn] > .mc-paging-nav > *:active {
  background: #ff9815;
  border-color: #ff9927;
  color: #ffffff;
}
.mc-paging[data-co=warn] > .mc-paging-nav > *.active + * {
  border-left-color: #ffa929;
}
.mc-paging[data-co=warn] > .mc-paging-nav > *:hover + * {
  border-left-color: #ffb822;
}
.mc-paging[data-co=warn] > .mc-paging-nav > *:active + * {
  border-left-color: #ff9927;
}
.mc-paging[data-co=warn] > .mc-paging-nav > *:hover.prve:after,
.mc-paging[data-co=warn] > .mc-paging-nav > *:hover.frist:after,
.mc-paging[data-co=warn] > .mc-paging-nav > *:active.prve:after,
.mc-paging[data-co=warn] > .mc-paging-nav > *:active.frist:after,
.mc-paging[data-co=warn] > .mc-paging-nav > *.active.prve:after,
.mc-paging[data-co=warn] > .mc-paging-nav > *.active.frist:after {
  border-right-color: #ffffff;
}
.mc-paging[data-co=warn] > .mc-paging-nav > *:hover.next:after,
.mc-paging[data-co=warn] > .mc-paging-nav > *:hover.last:after,
.mc-paging[data-co=warn] > .mc-paging-nav > *:active.next:after,
.mc-paging[data-co=warn] > .mc-paging-nav > *:active.last:after,
.mc-paging[data-co=warn] > .mc-paging-nav > *.active.next:after,
.mc-paging[data-co=warn] > .mc-paging-nav > *.active.last:after {
  border-left-color: #ffffff;
}
.mc-paging[data-co=warn] > .mc-paging-nav > *:hover.frist:before,
.mc-paging[data-co=warn] > .mc-paging-nav > *:hover.last:before,
.mc-paging[data-co=warn] > .mc-paging-nav > *:active.frist:before,
.mc-paging[data-co=warn] > .mc-paging-nav > *:active.last:before,
.mc-paging[data-co=warn] > .mc-paging-nav > *.active.frist:before,
.mc-paging[data-co=warn] > .mc-paging-nav > *.active.last:before {
  background: #ffffff;
}
/*error*/
.mc-paging[data-co=error] > .mc-paging-nav > *.active {
  color: #ffffff;
  border-color: #ff897f;
  background: #ff8176;
}
.mc-paging[data-co=error] > .mc-paging-nav > *:hover {
  color: #ffffff;
  border-color: #ff887e;
  background: #ff9286;
}
.mc-paging[data-co=error] > .mc-paging-nav > *:active {
  color: #ffffff;
  border-color: #ff685e;
  background: #ff7268;
}
.mc-paging[data-co=error] > .mc-paging-nav > *.active + * {
  border-left-color: #ff897f;
}
.mc-paging[data-co=error] > .mc-paging-nav > *:hover + * {
  border-left-color: #ff887e;
}
.mc-paging[data-co=error] > .mc-paging-nav > *:active + * {
  border-left-color: #ff685e;
}
.mc-paging[data-co=error] > .mc-paging-nav > *:hover.prve:after,
.mc-paging[data-co=error] > .mc-paging-nav > *:hover.frist:after,
.mc-paging[data-co=error] > .mc-paging-nav > *:active.prve:after,
.mc-paging[data-co=error] > .mc-paging-nav > *:active.frist:after,
.mc-paging[data-co=error] > .mc-paging-nav > *.active.prve:after,
.mc-paging[data-co=error] > .mc-paging-nav > *.active.frist:after {
  border-right-color: #ffffff;
}
.mc-paging[data-co=error] > .mc-paging-nav > *:hover.next:after,
.mc-paging[data-co=error] > .mc-paging-nav > *:hover.last:after,
.mc-paging[data-co=error] > .mc-paging-nav > *:active.next:after,
.mc-paging[data-co=error] > .mc-paging-nav > *:active.last:after,
.mc-paging[data-co=error] > .mc-paging-nav > *.active.next:after,
.mc-paging[data-co=error] > .mc-paging-nav > *.active.last:after {
  border-left-color: #ffffff;
}
.mc-paging[data-co=error] > .mc-paging-nav > *:hover.frist:before,
.mc-paging[data-co=error] > .mc-paging-nav > *:hover.last:before,
.mc-paging[data-co=error] > .mc-paging-nav > *:active.frist:before,
.mc-paging[data-co=error] > .mc-paging-nav > *:active.last:before,
.mc-paging[data-co=error] > .mc-paging-nav > *.active.frist:before,
.mc-paging[data-co=error] > .mc-paging-nav > *.active.last:before {
  background: #ffffff;
}
