<div class="box">
    <div class="row row-mw10x">
        <div class="col-1920-12">
            <div class="col-box">
                <h5 class="box-title" xui-data="user">{{name}}</h5>
                <div class="box-content both">
                    <table class="xui-table w100" data-xui="ui1401">
                        <tr>
                            <th>名称</th>
                            <th>日期</th>
                            <th>图片</th>
                        </tr>
                        <tr xui-data="user">
                            <td>{{name}}</td>
                            <td>{{date}}</td>
                            <td>{{image}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>