/*
 * 组件：按钮
 * 组件注册编号：02-0002
 * 标准结构1级
 * 属性：
 * mc-sz    规格（默认：m   s | m | l）
 * mc-co    颜色 (默认：read  read | back | main | vice | info | success | warn | error)
 * 示例：
 *  <span class="mc-btn" mc="02-0002"></span> 默认的这样就行了
 *  <div class="mc-btn" mc="02-0002" btn-sz="s"></div> 小号的这样写
 * 关联：html+css
 */

.mc-btn[mc="02-0002"]{display: inline-block; border:1px solid $bk-read; line-height:2rem; cursor:pointer; padding:0 1rem; border-radius:3px;}

//颜色
.mc-btn[mc="02-0002"][mc-co="main"]{border-color:$bk-main;color:$co-main}
.mc-btn[mc="02-0002"][mc-co="back"]{border-color:$bk-back;color:$co-back}
.mc-btn[mc="02-0002"][mc-co="vice"]{border-color:$bk-vice;color:$co-vice}
.mc-btn[mc="02-0002"][mc-co="info"]{border-color:$bk-info;color:$co-info}
.mc-btn[mc="02-0002"][mc-co="success"]{border-color:$bk-success;color:$co-success}
.mc-btn[mc="02-0002"][mc-co="warn"]{border-color:$bk-warn;color:$co-warn}
.mc-btn[mc="02-0002"][mc-co="error"]{border-color:$bk-danger;color:$co-danger}

//规格
.mc-btn[mc="02-0002"][mc-sz="s"]{line-height:1.5rem}
.mc-btn[mc="02-0002"][mc-sz="l"]{line-height:2.5rem}