.mc-btn[data-mc="02-0001"] {display: inline-block;white-space: nowrap;vertical-align: middle;position: relative;border-radius: 3px;text-align: center;padding: .5rem 1em;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;border: 1px solid transparent;}
.mc-s.mc-btn[data-mc="02-0001"] {padding-top: .5rem; padding-bottom: .5rem; line-height: 1rem;}
.mc-m.mc-btn[data-mc="02-0001"] {padding-top: 1rem;  padding-bottom: 1rem;  line-height: 1.5rem;}
.mc-l.mc-btn[data-mc="02-0001"] {padding-top: 1.5rem;padding-bottom: 1.5rem;line-height: 1.5rem;}
.mc-btn[data-mc="02-0001"].disabled {
  cursor: not-allowed;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}
/*read*/
.mc-btn[data-mc="02-0001"] {
  background: #f5f5f5;
  transition: all .01s; -webkit-transition: all .01s;
}
.mc-btn[data-mc="02-0001"]:hover {
  background: #fbfbfb;
}
.mc-btn[data-mc="02-0001"]:active {
  background: #f0f0f0;
  transform: translate(0,1px);
  -webkit-transform: translate(0,1px);
}
/*main*/
.mc-btn[data-mc="02-0001"][data-co="main"] {
  background: $bg-main;
}
.mc-btn[data-mc="02-0001"][data-co="main"]:hover {
  background: $bg-main-hover;
}
.mc-btn[data-mc="02-0001"][data-co="main"]:active {
  background: $bg-main-active;
}
/*vice*/
.mc-btn[data-mc="02-0001"][data-co="vice"] {
  background: $bg-vice;
}
.mc-btn[data-mc="02-0001"][data-co="vice"]:hover {
  background: $bg-vice-hover;
}
.mc-btn[data-mc="02-0001"][data-co="vice"]:active {
  background: $bg-vice-active;
}
/*info*/
.mc-btn[data-mc="02-0001"][data-co="info"] {
  background: $bg-info;
}
.mc-btn[data-mc="02-0001"][data-co="info"]:hover {
  background: $bg-info-hover;
}
.mc-btn[data-mc="02-0001"][data-co="info"]:active {
  background: $bg-info-active;
}
/*success*/
.mc-btn[data-mc="02-0001"][data-co="success"] {
  background: $bg-success;
}
.mc-btn[data-mc="02-0001"][data-co="success"]:hover {
  background: $bg-success-hover;
}
.mc-btn[data-mc="02-0001"][data-co="success"]:active {
  background: $bg-success-active;
}
/*warn*/
.mc-btn[data-mc="02-0001"][data-co="warn"] {
  background: $bg-warn;
}
.mc-btn[data-mc="02-0001"][data-co="warn"]:hover {
  background: $bg-warn-hover;
}
.mc-btn[data-mc="02-0001"][data-co="warn"]:active {
  background: $bg-warn-active;
}
/*error*/
.mc-btn[data-mc="02-0001"][data-co="error"] {
  background: $bg-danger;
}
.mc-btn[data-mc="02-0001"][data-co="error"]:hover {
  background: $bg-danger-hover;
}
.mc-btn[data-mc="02-0001"][data-co="error"]:active {
  background: $bg-danger-active;
}
.mc-btn[data-mc="02-0001"][data-co="read"],.mc-btn[data-mc="02-0001"][data-co="main"],.mc-btn[data-mc="02-0001"][data-co="vice"],.mc-btn[data-mc="02-0001"][data-co="info"],.mc-btn[data-mc="02-0001"][data-co="success"],.mc-btn[data-mc="02-0001"][data-co="warn"],.mc-btn[data-mc="02-0001"][data-co="error"] {color: #ffffff}
.mc-btn[data-mc="02-0001"] {transition: all .3s;-moz-transition: all .3s;-webkit-transition: all .3s;-o-transition: all .3s;}
