/*
 * 组件：按钮
 * 组件注册编号：02-0002
 * 标准结构1级
 * 属性：
 * sz    规格（默认：m   s | m | l）
 * co    颜色 (默认：read  read | back | main | vice | info | success | warn | error)
 * 示例：
 * 关联：html+css
 */

.xui-btn[theme="001"] {
  user-select: none;
  -webkit-user-select: none;
  display: inline-block;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
  padding: 0 1rem;
  border-radius: 3px;
  background: none;
  color: $co-read;
  border: 1px solid rgba(0, 0, 0, .05);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

//颜色
.xui-btn[theme="001"][co="back"] {
  background-color: $bg-back;
}

.xui-btn[theme="001"][co="main"] {
  background-color: $bg-main;
  color: #fff;
}

.xui-btn[theme="001"][co="vice"] {
  background-color: $bg-vice;
  color: #fff;
}

.xui-btn[theme="001"][co="info"] {
  background-color: $bg-info;
  color: #fff;
}

.xui-btn[theme="001"][co="success"] {
  background-color: $bg-success;
  color: #fff;
}

.xui-btn[theme="001"][co="warn"] {
  background-color: $bg-warn;
  color: #fff;
}

.xui-btn[theme="001"][co="danger"] {
  background-color: $bg-danger;
  color: #fff;
}

//规格
.xui-btn[theme="001"][sz="s"] {
  line-height: 2.5rem
}

.xui-btn[theme="001"][sz="l"] {
  line-height: 3.5rem
}

.xui-btn[theme="001"]:disabled {
  opacity: .5;
}

.xui-btn[theme="001"]:active {
  box-shadow: inset 0 0 1000px rgba(0, 0, 0, .1);
  -webkit-box-shadow: inset 0 0 1000px rgba(0, 0, 0, .1);
  transform: scale(.99, .98);
  -webkit-transform: scale(.99, .98);
}