
/*xui-tags*/
.mc-tags {
  min-width: 100%;
  height: 2.5em;
  line-height: 2.4em;
  white-space: nowrap;
}
.mc-tags > * {
  display: inline-block;
  border: 1px solid #e8e8e8;
  height: 2.5em;
  padding: 0 .5em 0 1em;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mc-tags > * .icon {
  margin-left:0.5rem;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}
.mc-tags > * .icon:before{
  content: "\e65e";
  vertical-align: middle;

}
.mc-tags > *.lock {
  padding-right: 1em;
}
.mc-tags > *.lock:after {
  display: none;
}
/*default*/
.mc-tags > *.active {
  background: #f5f5f5;
}
.mc-tags > *.active {
  border-color: #dfdfdf;
}
.mc-tags > *.active {
  color: #666666;
  -webkit-font-smoothing: subpixel-antialiased;
  text-shadow: rgba(0,0,0,.15) -1px 1px 1px;
}
.mc-tags > *:hover {
  background: #fbfbfb;
}
.mc-tags > *:hover {
  border-color: #e5e5e5;
}
.mc-tags > *:hover {
  color: #888888;
}
.mc-tags > *.active .icon{
  -webkit-font-smoothing: subpixel-antialiased;
}
.mc-tags > * .icon:hover:before {
  color:#ff7700;
  content: "\e65d";
  border-radius: 50%;
  background:#fff;
}
.mc-tags > *:active {
  background: #f0f0f0;
}
.mc-tags > *:active {
  border-color: #c0c0c0;
}
.mc-tags > *:active {
  color: #444444;
}
/*main*/
.mc-tags[data-co="main"] > *.active {
  background: #40beff;
}
.mc-tags[data-co="main"] > *.active {
  border-color: #35b8fb;
}
.mc-tags[data-co="main"] > *.active {
  color: #ffffff;
}
.mc-tags[data-co="main"] > *:hover {
  background: #23cbff;
}
.mc-tags[data-co="main"] > *:hover {
  border-color: #1cbaff;
}
.mc-tags[data-co="main"] > *:hover {
  color: #ffffff;
}
.mc-tags[data-co="main"] > *:active {
  background: #3aadff;
}
.mc-tags[data-co="main"] > *:active {
  border-color: #1199ff;
}
.mc-tags[data-co="main"] > *:active {
  color: #ffffff;
}
/*vice*/
.mc-tags[data-co="vice"] > *.active {
  background: #ffba46;
}
.mc-tags[data-co="vice"] > *.active {
  border-color: #ffa81b;
}
.mc-tags[data-co="vice"] > *.active {
  color: #ffffff;
}
.mc-tags[data-co="vice"] > *:hover {
  background: #ffca54;
}
.mc-tags[data-co="vice"] > *:hover {
  border-color: #ffb822;
}
.mc-tags[data-co="vice"] > *:hover {
  color: #ffffff;
}
.mc-tags[data-co="vice"] > *:active {
  background: #ffa939;
}
.mc-tags[data-co="vice"] > *:active {
  border-color: #ff9715;
}
.mc-tags[data-co="vice"] > *:active {
  color: #ffffff;
}
/*warn*/
.mc-tags[data-co="warn"] > *.active {
  background: #ffba46;
}
.mc-tags[data-co="warn"] > *.active {
  border-color: #ffa929;
}
.mc-tags[data-co="warn"] > *.active {
  color: #ffffff;
}
.mc-tags[data-co="warn"] > *:hover {
  background: #ffca54;
}
.mc-tags[data-co="warn"] > *:hover {
  border-color: #ffb822;
}
.mc-tags[data-co="warn"] > *:hover {
  color: #ffffff;
}
.mc-tags[data-co="warn"] > *:active {
  background: #ff9815;
}
.mc-tags[data-co="warn"] > *:active {
  border-color: #ff9927;
}
.mc-tags[data-co="warn"] > *:active {
  color: #ffffff;
}
/*success*/
.mc-tags[data-co="success"] > *.active {
  background: #7cd22b;
}
.mc-tags[data-co="success"] > *.active {
  border-color: #71c323;
}
.mc-tags[data-co="success"] > *.active {
  color: #ffffff;
}
.mc-tags[data-co="success"] > *:hover {
  background: #9fe133;
}
.mc-tags[data-co="success"] > *:hover {
  border-color: #80cd59;
}
.mc-tags[data-co="success"] > *:hover {
  color: #ffffff;
}
.mc-tags[data-co="success"] > *:active {
  background: #69bd00;
}
.mc-tags[data-co="success"] > *:active {
  border-color: #4e9c25;
}
.mc-tags[data-co="success"] > *:active {
  color: #ffffff;
}
/*error*/
.mc-tags[data-co="error"] > *.active {
  background: #ff8176;
}
.mc-tags[data-co="error"] > *.active {
  border-color: #ff897f;
}
.mc-tags[data-co="error"] > *.active {
  color: #ffffff;
}
.mc-tags[data-co="error"] > *:hover {
  background: #ff9286;
}
.mc-tags[data-co="error"] > *:hover {
  border-color: #ff887e;
}
.mc-tags[data-co="error"] > *:hover {
  color: #ffffff;
}
.mc-tags[data-co="error"] > *:active {
  background: #ff7268;
}
.mc-tags[data-co="error"] > *:active {
  border-color: #ff685e;
}
.mc-tags[data-co="error"] > *:active {
  color: #ffffff;
}