/*mc-tag*/
.mc-tag {
  display: inline-block;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 1em;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.mc-tag.lock {
  padding-right: 1em;
}
.mc-tag.lock:after {
  display: none;
}
/*default*/
.mc-tag {
  background: #f5f5f5;
}
.mc-tag {
  color: #666666;
}
.mc-tag:hover {
  background: #fbfbfb;
}
.mc-tag:hover {
  color: #888888;
}
.mc-tag:active {
  background: #f5f5f5;
}
.mc-tag:active {
  color: #444444;
}
/*main*/
.mc-tag[data-co="main"] {
  background: #40beff;
}
.mc-tag[data-co="main"] {
  color: #ffffff;
}
.mc-tag[data-co="main"]:hover {
  background: #23cbff;
}
.mc-tag[data-co="main"]:hover {
  color: #ffffff;
}
.mc-tag[data-co="main"]:active {
  background: #3aadff;
}
.mc-tag[data-co="main"]:active {
  color: #ffffff;
}
/*vice*/
.mc-tag[data-co="vice"] {
  background: #ffba46;
}
.mc-tag[data-co="vice"] {
  color: #ffffff;
}
.mc-tag[data-co="vice"]:hover {
  background: #ffca54;
}
.mc-tag[data-co="vice"]:hover {
  color: #ffffff;
}
.mc-tag[data-co="vice"]:active {
  background: #ffa939;
}
.mc-tag[data-co="vice"]:active {
  color: #ffffff;
}
/*warn*/
.mc-tag[data-co="warn"] {
  background: #ffba46;
}
.mc-tag[data-co="warn"] {
  color: #ffffff;
}
.mc-tag[data-co="warn"]:hover {
  background: #ffca54;
}
.mc-tag[data-co="warn"]:hover {
  color: #ffffff;
}
.mc-tag[data-co="warn"]:active {
  background: #ff9815;
}
.mc-tag[data-co="warn"]:active {
  color: #ffffff;
}
/*success*/
.mc-tag[data-co="success"] {
  background: #7cd22b;
}
.mc-tag[data-co="success"] {
  color: #ffffff;
}
.mc-tag[data-co="success"]:hover {
  background: #9fe133;
}
.mc-tag[data-co="success"]:hover {
  color: #ffffff;
}
.mc-tag[data-co="success"]:active {
  background: #69bd00;
}
.mc-tag[data-co="success"]:active {
  color: #ffffff;
}
/*error*/
.mc-tag[data-co="error"] {
  background: #ff8176;
}
.mc-tag[data-co="error"] {
  color: #ffffff;
}
.mc-tag[data-co="error"]:hover {
  background: #ff9286;
}
.mc-tag[data-co="error"]:hover {
  color: #ffffff;
}
.mc-tag[data-co="error"]:active {
  background: #ff7268;
}
.mc-tag[data-co="error"]:active {
  color: #ffffff;
}